{% extends 'base.html' %}
{% load hash %}
{% block title %}تعليقات الزوار{% endblock %}

{% block content %}



<div class="row">
    <div class="span12 ">
      <h1 id="headtitle" class="headtitle innerpage"><span>مواد الدستور</span></h1>
    </div>
</div><!-- row -end -->

<div class="row">
  <div class="span12">
        <center>
            <div id="chart_div" style="width: 800px;">
              {% for ele in articles_acceptance %}
                <div style="width:100; float:left;" >
                  {{ele.1}}||
                </div>
              {% endfor %}
            </div>
        </center>
  </div>
</div><!-- row -end -->

{% endblock %}