{% extends 'base.html' %}

{% block title %}تعليقات الزوار{% endblock %}

{% block content %}

<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">
  google.load("visualization", "1", {packages:["corechart"]});
  google.setOnLoadCallback(drawChart);
  function drawChart() {
	var data = google.visualization.arrayToDataTable([
	  ['الشهر', 'عدد التعليقات']
	  {% for ele in chart_data %}
		  ,['{{ ele.0 }}',  {{ ele.1 }}]
	  {% endfor %}
	]);

	var options = {
	  fontName: 'tahoma',
	  fontSize: '11',
	  vAxis: {format:'#,###'}

	};

	var chart = new google.visualization.ColumnChart(document.getElementById('chart_div'));
	chart.draw(data, options);
  }
</script>

<div class="row">
    <div class="span12 ">
      <h1 id="headtitle" class="headtitle innerpage"><span>تعليقات الزوار</span></h1>
    </div>
</div><!-- row -end -->

<div class="row">
	<div class="span12">
        <center>
            <div id="chart_div" style="width: 800px; height: 300px;"></div>
        </center>
	</div>
</div><!-- row -end -->

{% endblock %}