{% extends 'base.html' %}

{% block title %}احصائيات عن المشاركة على مواد الدستور{% endblock %}

{% block og_image %}
  <meta property="og:image" content="{{ STATIC_URL }}images/arabic-infographic.jpg"/>
  <meta property="og:description" content="انطلق موقع 'مبادرة شارك' بالتعاون مع الجمعية التأسيسية لوضع مشروع الدستور
بداية من شهر أغسطس 2012 بهدف إيجاد وسيلة ميسرة تمكن المصريين في الداخل والخارج من إبداء رأيهم ومناقشة مواد مشروع الدستور التي تصدر بشكل دوري من الجمعية التأسيسية."/>
{% endblock %}

{% block content %}

<script type="text/javascript" src="https://www.google.com/jsapi"></script>

<div class="row">
    <div class="span12 ">
    {% if type = '' %}
    
     <div class="span12" style="text-align: center; margin-top: 40px;">
          <h2 style="font-family: GESSTwoMediumRegular; margin-bottom: 10px; text-shadow: 1px 1px 1px #FFFFFF;">
          احصائيات المشاركات على مواد الدستور</h2>
     </div>
    
    {% else %}
		<h1 id="headtitle" class="headtitle innerpage">
        	{% if type = 'ar' %}
        		<span>احصائيات المشاركات على مواد الدستور</span>
            {% elif type = 'en' %}
            	<span style="float: left;">Contributions Statistics on the Constitutional Articles</span>
            {% endif %}
        </h1>
	{% endif %}
    </div>
</div><!-- row -end -->

<div class="row">
	<div class="span12">
        <center>
        	{% if type = 'ar' %}
            	<img src="{{ STATIC_URL }}images/infographic-ar.jpeg" />
            {% elif type = 'en' %}
            	<img src="{{ STATIC_URL }}images/infographic-en.jpeg" />
            {% else %}
            	<a href="{% url infographic_type type='ar' %}">
                	<img src="{{ STATIC_URL }}images/arabic-infographic.jpg" />
                </a>
            	<a href="{% url infographic_type type='en' %}">
                	<img src="{{ STATIC_URL }}images/english-infographic.jpg" />
                </a>
            {% endif %}
        </center>
	</div>
</div><!-- row -end -->


{% endblock %}