{% extends 'base.html' %}

{% block title %}احصائيات عن المشاركة على مواد الدستور{% endblock %}

{% block content %}

<script type="text/javascript" src="https://www.google.com/jsapi"></script>

<div class="row">
    <div class="span12 ">
		<h1 id="headtitle" class="headtitle innerpage">
        	<span>احصائيات المشاركات على مواد الدستور</span>
        </h1>
    </div>
</div><!-- row -end -->

<div class="row">
	<div class="span12">
        <center>
            <img src="{{ STATIC_URL }}images/infographic-ar.jpeg"
        </center>
	</div>
</div><!-- row -end -->

{% endblock %}