*.pyc
*.pyo
*.db
.DS_Store
.coverage
core/static/temp/
core/static/photos/
core/static/pdf/
core/static/photos/profile/
core/static/members_map.jpg
sharek/settings_local.py
.settings
.project
.pydevproject
