{% extends 'mobile/base.html' %} 

{% block content %}
            
    <h2>{{topic.name}}</h2>
    
    <a style="float: left;" href="{% url topics_mobile %}" data-transition="slide">العودة الى القوانين</a>
    
    {% for article in articles %}
    
    <div data-role="collapsible-set">
        <div data-role="collapsible">
            <h3>{{ article.name }}</h3>
            <p class="article-text">إيمانا منا بقيمة التواصل مع جميع فئات الشعب المصرى العظيم فإننا قمنا بتأسيس هذا الموقع ليكون نافذة للتواصل الفعال بن مجلس النواب المصرى وبين كل من يرغب فى الإسهام الحقيقى فى صناعة قانون مصر </p>
        </div>
    </div>
    
    {% endfor %}
    
    <div class="links"><a style="float: left;" href="{% url topics_mobile %}" data-transition="slide">العودة الى القوانين</a></div>
                
 {% endblock %}