{% extends 'mobile/base.html' %} 

{% block content %}
       
    <ul data-role="listview" data-divider-theme="a" data-inset="true">
    
        <li data-role="list-divider" role="heading">القوانين</li>
        
        {% for topic in topics %}
        {% if topic.level == 1 %}
        <li data-theme="">
          <a href="{% url articles_mobile topic_slug=topic.slug %}" data-transition="slide">
              {{topic.name}}
              <span class="ui-li-count">{{topic.articles_count}} مادة</span>
          </a>
        </li>
        {% endif %}
        {% endfor %}
        
    </ul>
    
    <a style="float: left;" href="{% url index_mobile %}" data-transition="slide">العودة للرئيسية</a>
     
{% endblock %}