{% extends 'base.html' %}

{% load hash %}
{% block title %}{{article.name}}{% endblock %}

{% block content %}


<div class="row">
	<div class="span12">
		<h1 class="headtitle"><span>تعديلات المادة 48</span></h1>
	</div>
</div>

<div class="row">
  <div class="span12 history-records ">
    {% for version in versions %}
      <div class="well {% if forloop.first %}recent{% endif %}">
        <h3><p class="mada-title"><a>{{version.name}}</a></p> <span class="edit-date"> <strong>نسخة قديمة بتاريخ </strong> 29 أغسطس الثامنة صباحا</span></h3>
        <div id="version-67">{{version.summary|striptags}}</div><br>
      </div><!-- well -->
    {% endfor %}
  </div>
</div><!-- roww -->

{% endblock %}