{% extends 'base.html' %}

{% load replace %} 
{% block title %}{{article.name}}{% endblock %}

{% block content %}
<div id="sub_container">
  <div id="article_detail">
    disc:{{article.summery}}
   
    {% if user %}
    user:{{ user}}
    <div class="comment-block comment-entry ">
      <fieldset>
        <legend>أضف تعديل </legend>
         <div class="control-group">
              <label for="textarea" class="control-label">التعديل</label>
              <div class="controls">
                <textarea id="suggestion" class="input-xlarge" id="textarea" rows="3" name="suggestion"></textarea>
              </div>
         </div>
          <div class="form-actions">
              <input class="btn btn-primary" type="submit" name="submit" id="modify" value="أضف الآن !">
          </div>
      </fieldset>    
    </div>
    {% endif %}


   <script type="text/javascript">
    $(document).ready(function() {
      $("#modify").click(function(){
        $.ajax({
              type:"POST",
              url :"/modify/",
              data:{
                  'article':"{{article.id}}",
                  'email': "{{user.email}}",
                  'csrfmiddlewaretoken': $("{% csrf_token %}").find("input").attr("value"),
                  'suggestion': $("#suggestion").val()},
              dataType:"json",
              error:function(data){},
              success:function(data){
              $("#suggestion").val("");
              $(".comment-block.comment-entry").after($("#modification_temp").tmpl({"name": data.name, "suggestion": data.suggestion, "id":data.id}));
              },
          });
      });
    });
   </script>

  </div>
</div>

</div>
{% endblock %}