{% extends 'base.html' %}

{% load replace %} 
{% block title %}{{article.name}}{% endblock %}

{% block content %}

<div class="row">
    <div class="span12 ">
        <h1 class="headtitle">{{tag.name}}</h1>
    </div>
</div><!-- row -end -->
<div class="row">

    <div class="span4">
        {% include "sidebar.html" %}
    </div><!-- span3 -->

    <div id="ajax-container" class="span8">
        
            <div class="topic">
                <h3><p class="mada-title"><a>{{article.name}}</a> <a href="#" class="comments-number pull-left"><i style="margin-top:4px; margin-left:5px;" class="icon-comment icon-white"></i>32,210 تعليق</a></p></h3>  
                <p>{{article.summary}}</p>
            </div><!-- topic end -->
    
            <span class="divider"></span>
        
            <div class="comment-block comment-entry">
    
                <form class="form-horizontal">
                    <fieldset>
                        <legend>أضف تعليق </legend>
                        <div class="control-group success">
                            <label class="control-label" for="input01">الإسم</label>
                            <div class="controls">
                                <input class="input-xlarge" id="input01" type="text">
                                <p class="help-block">أدخل إسمك الذى سيظهر فى التعليق</p>
                            </div>
                         </div>
                         <div class="control-group">
                              <label for="textarea" class="control-label">التعليق</label>
                              <div class="controls">
                                <textarea id="suggestion" class="input-xlarge" id="textarea" rows="3" name="suggestion"></textarea>
                              </div>
                         </div>
                         <div class="form-actions">
                              <button class="btn btn-inverse" type="submit">أضف الآن !</button>
                         </div>
                    </fieldset> 
                </form>
    
            </div><!-- comment end -->
    
            <div class="comment-block ">
    
                <h3><p class="name"><a href="#"> محمد محمود محمد أمين</a></p></h3> 
                <img src="images/loader.gif" alt="" class="loader">
                <div class="like-group">
                   <a href="#" class="like"><i class="icon-thumbs-up"></i> <small>25</small></a>
                   <a href="#" class="dislike"><i class="icon-thumbs-down"></i> <small>12</small> </a>
                </div>
                <p>
    وأوضح أن اللقاء عمل لأول مرة على تقريب شخصيات مثلي ومثل د. عبدالجليل مصطفى، د. حسن نافعة ، د. سيف عبدالفتاح، د.علاء الأسواني ، ا. سكينة فؤاد، د.
                </p>
                <span class="date">20-10-2011</span>
    
            </div><!-- comment end -->
    
        </div><!-- span 9 -->

</div><!-- row end -->
  
{% endblock %}