{% extends 'base.html' %}

{% load replace %}
{% load hash %} 
{% block title %}{{article.name}}{% endblock %}

{% block content %}


<div class="row">

  <div class="span3">
      {% include "sidebar.html" %}
  </div><!-- span3 -->

  <div id="ajax-container" class="span9">
    <div class="tags"><p>تتعلق هذه المواد  :</p>
      {% for related in related_tags %}
        <a href="/tags{{related.get_absolute_url}}">"{{related.name}}"</a>
      {% endfor %}
    </div>
    <div class="topic">
        <h3><p class="mada-title"><a>{{article.name}}</a> <a href="#" class="comments-number pull-left">
          <i style="margin-top:4px; margin-left:5px;" class="icon-comment icon-white"></i><span id="feedback_counter">
          {% if article.feedback_count > 0 %}{{article.feedback_count}}  تعليق{% else %}لا توجد تعليقات{% endif %}
          </span>
          </a></p></h3>  
          <input type="hidden" id="count" name="Language" value="{{article.feedback_count}}">
        <p>{{article.summary}}</p>
    </div><!-- topic end -->

    <span class="divider"></span>
    {% if user %}
    <div class="comment-block comment-entry">
      <div class="facebook_user_img">
        <img src="http://graph.facebook.com/{{ user }}/picture" class="loader"/>
      </div>
      <h3><p class="name"><a href="#">"{{user.first_name}} {{user.last_name}}"</a></p></h3> 
      <p >
         <textarea rows="3" class="input-xlarge span8" id="suggestion"></textarea>
         <br />
         <button class="btn btn-inverse offset0" type="submit" id="modify" >أضف الآن !</button>
      </p>
    </div>
    {% else %}
    <div class="comment-block comment-entry not-logged">  
      <p style=" color:#960d0d;">للمشاركة فى التعليقات رجاءا قم بتسجيل الدخول
        {% if error %}
          {% if error == 'AUTH_FAILED' %}
              <p>Authentication failed</p>
          {% else %}
            {% if error == 'AUTH_DISABLED' %}
              <p>Your account is disabled</p>
            {% else %}
              {% if error == 'AUTH_DENIED' %}
              <p>You did not allow access</p>
              {% endif %}
            {% endif %}
          {% endif %}
        {% else %}
        <a href="https://graph.facebook.com/oauth/authorize?client_id={{ settings.FACEBOOK_APP_ID }}&redirect_uri={{ settings.FACEBOOK_REDIRECT_URI }}&scope=publish_stream,email&display=popup">
          <img width="150" src="http://egynda.com/resource/images/fb_sign.png">
        </a>
        {% endif %}
      </p>
    </div><!-- comment end -->
    {% endif %}
    <div class="comment-block well top">
      <a href="{%if tags %}/tags/{{tag.slug}}{%else%}/topics/{{topic.slug}}{%endif%}{{article.get_absolute_url}}latest" id="time">حسب الوقت</a> | 
      <a href="{%if tags %}/tags/{{tag.slug}}{%else%}/topics/{{topic.slug}}{%endif%}{{article.get_absolute_url}}order" id="rank">حسب الترتيب</a>
    </div>
    {% for feedback in feedbacks %}
    <div class="comment-block ">
      <div class="facebook_user_img">
        <img src="http://graph.facebook.com/{{ feedback.user }}/picture" class="loader"/>
      </div>
        <h3><p class="name"><a href="#">{{feedback.name}}</a></p></h3> 
        <div class="like-group">
           <a href="javascript:;" class="like vote" id="{{feedback.id}}" vote="1"><i class="icon-thumbs-up"></i><small class="like {{feedback.id}}">{{p_votes|key:feedback.id }}</small></a>
           <a href="javascript:;" class="dislike vote" id="{{feedback.id}}" vote="0"><i class="icon-thumbs-down"></i><small class="dislike {{feedback.id}}">{{n_votes|key:feedback.id }}</small></a>
        </div>
        <p>{{feedback.suggestion}}</p>
        <span class="date">{{feedback.date}}</span>
    </div><!-- comment end -->
    {% endfor %}
    <ul class=" pager">
      <li class="next">
      {% if feedbacks.has_next %}
      <a href="?page={{ feedbacks.next_page_number }}">التالى &larr; </a>
      {% endif %}
      </li>
      <li>
        <span class="current">
              صفحه {{ feedbacks.number }} من {{ feedbacks.paginator.num_pages }}.
        </span>
      </li>
      <li class="previous">
      {% if feedbacks.has_previous %}
      <a href="?page={{ feedbacks.previous_page_number }}"> &rarr; السابق</a>
      {% endif %}
      </li>
    </ul>


    <script type="text/javascript">
      $(document).ready(function() {

       $(".vote").live("click",function(){
        $.ajax({
                type:"POST",
                url :"/vote/",
                data:{'article':{{article.id}},'modification': this.id ,'type': $(this).attr('vote') ,'csrfmiddlewaretoken': $("{% csrf_token %}").find("input").attr("value")},
                dataType:"json",
                error:function(data){},
                success:function(data){
                $(".like"+"."+data.modification).text(data.p);  
                $(".dislike"+"."+data.modification).text(data.n);  
                },
              });
            });

        $("#modify").click(function(){
          $("#modify").after($("#loading_temp").tmpl());
          $.ajax({
                type:"POST",
                url :"/modify/",
                data:{
                    'link': document.URL,
                    'article_slug': "{{article.slug}}",
                    'class_slug': "{%if tags%}tags/{{tag.slug}}{%else%}topics/{{topic.slug}}{%endif%}",
                    'user_id':"{{user}}",
                    'name':"{{user.first_name}} {{ user.last_name }}",
                    'article':"{{article.id}}",
                    'email': "{{user.email}}",
                    'csrfmiddlewaretoken': $("{% csrf_token %}").find("input").attr("value"),
                    'suggestion': $("#suggestion").val()},
                dataType:"json",
                error:function(data){},
                success:function(data){
                $("#suggestion").val("");
                $("#count").attr("value",parseInt($("#count").attr("value"))+1);
                $("#feedback_counter").text($("#count").attr("value")+" تعليق");
                $(".comment-block.well.top").after($("#modification_temp").tmpl({"id":data.id ,"date": "Just now", "suggestion": data.suggestion}));
                $("#load-img").remove();
                },
            });
        });
      });
    </script>


    <script id="modification_temp" type="text/x-jquery-tmpl">
      <div class="comment-block ">
        <div class="facebook_user_img">
          <img src="http://graph.facebook.com/{{ user }}/picture" class="loader"/>
        </div>
        <h3><p class="name"><a href="#">{{user.first_name}} {{ user.last_name }}</a></p></h3> 
        <div class="like-group">
           <a href="javascript:;" class="like vote" id="${id}" vote="1"><i class="icon-thumbs-up"></i><small class="like ${id}">0</small></a>
           <a href="javascript:;" class="dislike vote" id="${id}" vote="0"><i class="icon-thumbs-down"></i><small class="dislike ${id}">0</small></a>
        </div>
        <p>${suggestion}</p>
        <span class="date">${date}</span>
      </div><!-- comment end -->
    </script>

    <script id="loading_temp" type="text/x-jquery-tmpl">
        <img style="margin-right:20px;" id="load-img" src="{{ STATIC_URL }}images/loading.gif" alt="loading"/>
    </script>

  </div><!-- span 8 -->

</div><!-- row end -->
  
{% endblock %}