{% extends 'base.html' %}

{% load replace %}
{% load hash %} 
<!-- {% load date_format %}  -->
{% block title %}{{article.name}}{% endblock %}

{% block content %}
<div class="row">
    <div class="span12 inner-article">
        
    </div>
</div>
<div class="row">
    <div class="span12 ">
        <div id="headtitle" class=" innerpage offset3">
          <div class="tags ">
            <p>تتعلق هذه المواد  :</p>
                {% for related in related_tags %}
                  <a href="/tags{{related.get_absolute_url}}">"{{related.name}}"</a>
                {% endfor %}
       </div>
       </div>
    </div>
</div><!-- row -end -->
<div class="row">

  <div class="span3">
      {% include "sidebar.html" %}
  </div><!-- span3 -->

  <div id="ajax-container" class="span9">
    
    <div class="topic">
        <h3><p class="mada-title"><a>{{article.name}}</a> <a href="#" class="comments-number pull-left">
          <i style="margin-top:4px; margin-left:5px;" class="icon-comment icon-white"></i><span id="feedback_counter">
          {% if article.feedback_count > 0 %}{{article.feedback_count}}  تعليق{% else %}لا توجد تعليقات{% endif %}
          </span>
          </a></p></h3>  
          <input type="hidden" id="count" name="Language" value="{{article.feedback_count}}">
        <p>{{article.summary}}</p>
    </div><!-- topic end -->

  </div><!-- span 8 -->

</div><!-- row end -->
  
{% endblock %}