<!DOCTYPE HTML>
<html>
  <head>
    <script type="text/javascript" src="{{ STATIC_URL }}js/ajaxify-v2/jquery-1.2.6.min.js" ></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/ajaxify-v2/jquery.history.js" ></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/ajaxify-v2/jquery.ajaxify.js" ></script>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>دستور مصر :: {% block title %}{% endblock %}</title>

    <style type="text/css">
      a.up { color: red; }
	  div.box { display: block; border: 1px solid red; padding: 20px 40px; }
    </style>

  </head>

  <body>
  
    <div class="box">Header</div>
    
    {% include "side_bar.html" %} 
    
    <div class="container content">
    	<div class="box" id="sub_container"></div>
        {% block content %}{% endblock %}
    </div>
    
    <div class="box" >footer</div>

	<script type="text/javascript">
    $(document).ready(function() {
		$('#tags a').ajaxify({
			target:'#sub_container',
			loadHash:'attr:rel',
			tagToload: '#tag_detail'
		});
		
		$("#tags a").click(function(){
		  $(".tags").removeClass('up');
		  $(this).addClass('up');
		});
    });
    </script>
    
  </body>
</html>
