{% load replace %}
{% load hash %} 
{% load date_format %} 

{% if user %}
  <div class="comment-block comment-entry">
    <div class="facebook_user_img">
      <a href="http://www.facebook.com/{{ user }}" target="_blank"><img src="http://graph.facebook.com/{{ user }}/picture" class="loader"/></a>
    </div>
    <h3><p class="name"><a href="http://www.facebook.com/{{ user }}" target="_blank">{{user.first_name}} {{user.last_name}}</a></p></h3> 
    <p >
       <textarea rows="3" class="input-xlarge span8" id="suggestion"></textarea>
       <br />
       <button class="btn btn-inverse offset0" type="submit" id="modify" >أضف الآن !</button>
    </p>
  </div>
{% else %}
  <div class="comment-block comment-entry not-logged">  
    <p style=" color:#960d0d;">للمشاركة فى التعليقات رجاءا قم بتسجيل الدخول
      {% if error %}
        {% if error == 'AUTH_FAILED' %}
            <p>Authentication failed</p>
        {% else %}
          {% if error == 'AUTH_DISABLED' %}
            <p>Your account is disabled</p>
          {% else %}
            {% if error == 'AUTH_DENIED' %}
            <p>You did not allow access</p>
            {% endif %}
          {% endif %}
        {% endif %}
      {% else %}
      <a href="https://graph.facebook.com/oauth/authorize?client_id={{ settings.FACEBOOK_APP_ID }}&redirect_uri={{ request.build_absolute_uri }}&scope=publish_stream,email&display=popup">
        <img width="150" src="http://egynda.com/resource/images/fb_sign.png">
      </a>
      {% endif %}
    </p>
  </div><!-- comment end -->
{% endif %}



{% if feedbacks|length > 3 %}
    <div class="top-comments">
      <span class="comments-number pull-left">أفضل التعليقات</span>
  {% for top_feedback in top_ranked %}
      <div class="comment-block ">
          <div class="facebook_user_img">
            <a href="http://www.facebook.com/{{ top_feedback.user }}" target="_blank"><img src="http://graph.facebook.com/{{ top_feedback.user }}/picture" alt="" class="loader"></a>
          </div>
          <h3><p class="name"><a href="http://www.facebook.com/{{ top_feedback.user }}" target="_blank">{{top_feedback.name}}</a></p></h3> 
          <div class="like-group">
             <a {% if user %} href="javascript:;" {%else%} href="#not-logged" rel="facebox"{% endif %} class="like vote" id="{{top_feedback.id}}" vote="1"><small class="like {{top_feedback.id}}">{{p_votes|key:top_feedback.id }}</small></a>
             <a {% if user %} href="javascript:;" {%else%} href="#not-logged" rel="facebox"{% endif %} class="dislike vote" id="{{top_feedback.id}}" vote="0"><small class="dislike {{top_feedback.id}}">{{n_votes|key:top_feedback.id }}</small></a>
            </div>
          {{top_feedback.suggestion}}
          <span class="date">{{top_feedback.date|format}}</span>
      </div><!-- comment end -->
  {% endfor %}
  </div><!-- "top-comments -->
{% endif %}
  



  <div class="comment-block well top" {% if feedbacks|length == 0 %}style="display:none;"{% endif %}>
    {% if feedbacks|length > 0 %} 
        <a href="/sharek{%if tags %}/tags/{{tag.slug}}{%else%}/topics/{{topic.slug}}{%endif%}/{{article.get_absolute_url}}latest" id="time">{%if order_by = 'def' or order_by = 'latest' %}<strong>حسب الوقت</strong>{%else%}حسب الوقت{%endif%}</a>
        <a> | </a>
        <a href="/sharek{%if tags %}/tags/{{tag.slug}}{%else%}/topics/{{topic.slug}}{%endif%}/{{article.get_absolute_url}}order" id="rank">{%if order_by = 'order' %}<strong>حسب التصويت</strong>{%else%}حسب التصويت{%endif%}</a>
    {% endif %}
  </div>
{% if feedbacks|length >= 1 %}   
  {% for feedback in feedbacks %}
  <div class="comment-block {% if forloop.counter|divisibleby:2 %}alt{% endif %}">
    <div class="facebook_user_img">
      <a href="http://www.facebook.com/{{ feedback.user }}" target="_blank"><img src="http://graph.facebook.com/{{ feedback.user }}/picture" class="loader"/></a>
    </div>
      <h3><p class="name"><a href="http://www.facebook.com/{{ feedback.user }}" target="_blank">{{feedback.name}}</a></p></h3> 
      <div class="like-group">
         <a {% if user %} href="javascript:;" {%else%} href="#not-logged" rel="facebox"{% endif %} class="like vote {% if voted_fb|vote:feedback.id == 1 %} active {% endif %}" id="{{feedback.id}}" vote="1"><small class="like {{feedback.id}}">{{p_votes|key:feedback.id }}</small></a>
         <a {% if user %} href="javascript:;" {%else%} href="#not-logged" rel="facebox"{% endif %} class="dislike vote {% if voted_fb|vote:feedback.id == -1 %}active{% endif %}" id="{{feedback.id}}" vote="0"><small class="dislike {{feedback.id}}">{{n_votes|key:feedback.id }}</small></a>
      </div>
      <span class="date">{{feedback.date|format}}</span>
      {{feedback.suggestion}}
  </div><!-- comment end -->
  {% endfor %}
  
  
  <div class="pagging">
  <ul class=" pager">
    <li class="next">
    {% if feedbacks.has_next %}
    <a href="?page={{ feedbacks.next_page_number }}">التالى &larr; </a>
    {% endif %}
    </li>
    <li>
      <span class="current">
            صفحه {{ feedbacks.number }} من {{ feedbacks.paginator.num_pages }}.
      </span>
    </li>
    <li class="previous">
    {% if feedbacks.has_previous %}
    <a href="?page={{ feedbacks.previous_page_number }}"> &rarr; السابق</a>
    {% endif %}
    </li>
  </ul>
 </div><!-- pagging --> 
  
{% endif %}

<link href="{{STATIC_URL}}css/facebox.css" media="screen" rel="stylesheet" type="text/css"/>
<script src="{{STATIC_URL}}js/facebox.js" type="text/javascript"></script>

<script type="text/javascript">
  $(document).ready(function() {
   $('a[rel*=facebox]').facebox()
   $(".vote").live("click",function(){
    {% if user %}
      $.ajax({
              type:"POST",
              url :"/sharek/vote/",
              data:{'article':{{article.id}},'modification': this.id ,'type': $(this).attr('vote') ,'csrfmiddlewaretoken': $("{% csrf_token %}").find("input").attr("value")},
              dataType:"json",
              error:function(data){},
              success:function(data){
              $(".like"+"."+data.modification).text(data.p);  
              $(".dislike"+"."+data.modification).text(data.n);  
              },
            });
    {% endif %}
        });
    $("#modify").click(function(){
      if ($.trim($("#suggestion").val()).length > 0)
      {
        $("#modify").after($("#loading_temp").tmpl());
        $.ajax({
              type:"POST",
              url :"/sharek/modify/",
              data:{
                  'link': document.URL,
                  'article_slug': "{{article.slug}}",
                  'class_slug': "{%if tags%}tags/{{tag.slug}}{%else%}topics/{{topic.slug}}{%endif%}",
                  'user_id':"{{user}}",
                  'name':"{{user.first_name}} {{ user.last_name }}",
                  'article':"{{article.id}}",
                  'email': "{{user.email}}",
                  'csrfmiddlewaretoken': $("{% csrf_token %}").find("input").attr("value"),
                  'suggestion': $("#suggestion").val()},
              dataType:"json",
              error:function(data){},
              success:function(data){
              $("#suggestion").val("");
              $("#count").attr("value",parseInt($("#count").attr("value"))+1);
              $("#feedback_counter").text($("#count").attr("value")+" تعليق");
              $(".comment-block.well.top").after($("#modification_temp").tmpl({"id":data.id ,"date": "منذ قليل", "suggestion": data.suggestion}));
              $("#load-img").remove();
              },
          });
      }
    });
  });
</script>


<script id="modification_temp" type="text/x-jquery-tmpl">
  <div class="comment-block ">
    <div class="facebook_user_img">
      <a href="http://www.facebook.com/{{ user }}" target="_blank"><img src="http://graph.facebook.com/{{ user }}/picture" class="loader"/></a>
    </div>
    <h3><p class="name"><a href="http://www.facebook.com/{{ user }}" target="_blank">{{user.first_name}} {{ user.last_name }}</a></p></h3> 
    <div class="like-group">
       <a {% if user %} href="javascript:;" {%else%} href="#not-logged" rel="facebox"{% endif %}  class="like vote" id="${id}" vote="1"><small class="like ${id}">0</small></a>
       <a {% if user %} href="javascript:;" {%else%} href="#not-logged" rel="facebox"{% endif %}  class="dislike vote" id="${id}" vote="0"><small class="dislike ${id}">0</small></a>
    </div>
    <p>${suggestion}</p>
    <span class="date">${date}</span>
  </div><!-- comment end -->
</script>

<script id="loading_temp" type="text/x-jquery-tmpl">
    <img style="margin-right:20px;" id="load-img" src="{{ STATIC_URL }}images/loading.gif" alt="loading"/>
</script>


