<div class="row">
        <div class="span12">
            <div class="pull-left">
					<div class="top-nav span4">
					    <ul class="nav nav-pills">
						    <li class="">
							    <a href="#">الرئيسية</a>
						    </li>
						    <li class="">
							    <a href="#">الدستور</a>
						    </li>
						    <li class="">
							    <a href="#">من نحن</a>
						    </li>
						    <li class="">
							    <a href="#">اتصل بنا</a>
						    </li>
					    </ul>
				</div><!-- top-nav -->
				</div>
				<p class="copyrights pull-right">جميع الحقوق محفوظة</p>
        </div><!--  end -->
</div><!-- row end -->