
<div class="row">
    <div class="span12">
        <div class="pull-left">
                <div class="top-nav span5 footer-nav">
                    <ul class="nav nav-pills">
                        <li class="">
                            <a href="http://dostour.eg">الرئيسية</a>
                        </li>
                        <li class="">
                            <a href="{% url topics %}">أبواب الدستور</a>
                        </li>
                        <li class="">
                            <a href="#">من نحن</a>
                        </li>
                        <li class="">
                            <a href="http://dostour.eg/home?view=article&id=220">اتصل بنا</a>
                        </li>
                    </ul>
            </div><!-- top-nav -->
            </div>
            <p class="copyrights pull-right"> موقع مناقشة الدستور مبادرة من 
                <a href="http://sawty.me/ar/" class="sawty" target='_blank'></a>
            </p>

			<script type="text/javascript">
              var _gaq = _gaq || [];
              _gaq.push(['_setAccount', 'UA-33968313-2']);
              _gaq.push(['_setDomainName', 'dostour.eg']);
              _gaq.push(['_trackPageview']);
            
              (function() {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
              })();
            </script>
            
            
			<script type="text/javascript">
              var _gaq = _gaq || [];
              _gaq.push(['_setAccount', 'UA-33266543-1']);
              _gaq.push(['_trackPageview']);
            
              (function() {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
              })();
            </script>

    </div><!--  end -->
</div><!-- row end -->
