
<div class="row">
    <div class="span12">
        <div class="pull-left">
                <div class="top-nav span5 footer-nav">
                    <ul class="nav nav-pills">
                        <li class="">
                            <a href="{% url index %}">الرئيسية</a>
                        </li>
                        <li class="">
                            <a href="{% url topics %}">أبواب الدستور</a>
                        </li>
                        <li class="">
                            <a href="{% url info info_slug='about' %}">من نحن</a>
                        </li>
                        <li class="">
                            <a href="{% url info info_slug='contact-us' %}">اتصل بنا</a>
                        </li>
                    </ul>
            </div><!-- top-nav -->
            </div>
            <p class="copyrights pull-right">جميع الحقوق محفوظة</p>
    </div><!--  end -->
</div><!-- row end -->
