<div class="container header">
    <div class="row">

            <div class="span4">
                <div class="pull-right logo">
                    <img src="{{ STATIC_URL }}images/logo.png" alt="دستور مصر">
                </div>
            </div><!-- logo end -->
            
            <div class=" pull-left">
                <div class="search form-search">
                    <div id="top_menu_login">
                        <a href="https://www.facebook.com/dialog/oauth?client_id=190287601052706&amp;redirect_uri=http%3A%2F%2Fegynda.com%2Fevent%2F3sgaaqtj97&amp;scope=user_birthday%2Cuser_events%2Cemail%2Cpublish_stream%2Crsvp_event&amp;state=b8490d1c6a063c8711ae4577dffce44b">
                            <img width="150" src="http://egynda.com/resource/images/fb_sign.png">
                        </a>
                    </div>
                </div>
            </div><!-- search -->

    </div><!-- row end -->
</div><!-- header -->