{% extends 'base.html' %}

{% block title %}الصفحة الرئيسية{% endblock %}

{% block content %}

{% if perecent > 50 %}
<style>
.progress-promo .comments-till-now { margin-right: -194px; }
.progress-promo .comments-till-now::after { left: 20px; }
</style>
{% endif %}

  <div class="row promo">
    <div class="">
      <div class="span6 progress-promo">
        <p>هذا هو الموقع الرسمي للجمعية التأسيسية لوضع مشروع الدستور, والمواد المعلنة هنا هي الوحيدة المعتمدة من الجمعية وسيتم الأخذ بالملاحظات والمقترحات الموجودة هنا فقط ولا يوجد أي موقع آخر يمثل الجمعية.</p>
        <a href="{% url topics %}" class="btn btn-green">شارك برأيك فى الدستور!</a>
      </div>
      <div class="span6 map">
        <iframe width="460" height="230" src="http://www.youtube.com/embed/2ddxz5o_e18" frameborder="0" allowfullscreen></iframe>
      </div>
    </div><!-- below header -->
  </div><!-- row -->
  


<div class="row">
  <!--div class="span12 progress-promo">
    <div class="well"> <span class="comments-will-be">هدفنا <strong>{{ target }} !</strong></span> <span style="right: {{ percent }}%;" class="comments-till-now">عدد التعليقات حتى الآن {{ count }}</span>
      <div class="progress progress-success progress-striped">
        <div class="bar" style="width: {{ percent }}%;"> {{ percent }}% </div>
      </div>
    </div>
  </div-->
</div>
<!-- row -end -->

<div class="row">
  <div class="span12 "> <span class="divider"></span> </div>
</div>
<!-- row -end -->

<div class="row">
  <div class="span12 "> <h1 class="headtitle"><span>تصنيفات مواد الدستور</span></h1> </div>
</div>
<!-- row -end -->

<div class="row">
  <div class="home-sections span8">
	<ul class="nav nav-pills divider-vert">
      {% for topic_item in topics %}
      <li class="span4"> 
        <a href="{% url topic topic_slug=topic_item.get_absolute_url %}">
          <span class="home-sections-icon {{topic_item.slug}}"></span>
          {{topic_item.name}}
          {{topic_item.summary}}
        </a>
      </li>
      {% endfor %}
    </ul>
  </div>
  <!-- sidebar -->
  
  <div class="facebook-plugin span4"> 
    <!--img src="{{STATIC_URL}}images/face.jpg" alt=""-->
    <div class="fb-like-box" data-href="https://www.facebook.com/Dostour.eg" data-width="300" data-height="250" data-show-faces="true" data-stream="false" data-header="false"></div>
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) return;
          js = d.createElement(s); js.id = id;
          js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=462028557155670";
          fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script> 
  </div>
  <!--span --> 
</div>
<!-- row end --> 

{% endblock %}