<div class="comment-block alt">
	{{ article }} - {{ page }}<br />test<br />test<br />test<br />test<br />test<br />test<br />test<br />test<br />test<br />
</div>
<div class="comment-block alt">
	{{ page }}<br />test<br />test<br />test<br />test<br />test<br />test<br />test<br />test<br />test<br />
</div>
<div class="comment-block alt">
	{{ page }}<br />test<br />test<br />test<br />test<br />test<br />test<br />test<br />test<br />test<br />
</div>
<div class="comment-block alt">
	{{ page }}<br />test<br />test<br />test<br />test<br />test<br />test<br />test<br />test<br />test<br />
</div>
<div class="comment-block alt">
	{{ page }}<br />test<br />test<br />test<br />test<br />test<br />test<br />test<br />test<br />test<br />
</div>