{% load hash %} 
{% load date_format %}

{% for feedback in feedbacks %}
<div class="comment-block">
<div class="facebook_user_img">
  <a href="http://www.facebook.com/{{ feedback.user }}" target="_blank"><img src="http://graph.facebook.com/{{ feedback.user }}/picture" class="loader"/></a>
</div>
  <h3><p class="name"><a href="http://www.facebook.com/{{ feedback.user }}" target="_blank">{{feedback.name}}</a></p></h3> 
            <div class="delete-group">
            {% if user %}
              {% if user.username = feedback.user or user.username = "admin" %}
                <a href="javascript:;" class="L_remove delete  dropdown-toggle" feedback_id="{{feedback.id}}"><span>x</span></a>
             {% endif %}
           {% endif %}
            </div>
  <span class="date">{{feedback.date|format}}</span>
  {{feedback.suggestion}}
</div><!-- comment end -->
{% endfor %}