{% extends 'base.html' %}
{% load settings %}

{% block title %}{{topic.name}}{% endblock %}

{% block content %}

{% if topic %}
    <div class="row">
        <div class="span12 ">
            <h1 id="headtitle" class="headtitle"><span>{{topic.name}}</span></h1>
        </div>
    </div><!-- row -end -->
    <div class="row">

        <div class="span3">
            {% include "sidebar.html" %}
        </div><!-- span3 -->

        <div id="ajax-container" class="span9">

                {% for article in articles %}
                <div class="topic">
                    <h3>
                        <p class="mada-title">
                            <a href="/topic/{{topic.slug}}{{article.get_absolute_url}}">{{article.name}}</a> <a href="/topic/{{topic.slug}}{{article.get_absolute_url}}" class="comments-number pull-left"><i style="margin-top:4px; margin-left:5px;" class="icon-comment icon-white"></i>{% if article.feedback_count > 0 %}{{article.feedback_count}}تعليق{% else %}لا توجد تعليقات{% endif %}</a>
                        </p>
                    </h3>  
                    <p>{{article.summary|safe|truncatewords_html:35}}</p>
                </div><!-- topic end -->
                {% endfor %}
                
        </div>
    </div><!-- row end -->
{% else %}
<div class="empty">لا يوجد أبواب</div>
{% endif %}

{% endblock %}

