{% extends 'base.html' %}
{% load settings %}
{% load hash %} 
{% block title %}{{topic.name}}{% endblock %}

{% block content %}

{% if topic %}
    <div class="row">
        <div class="span12 ">
            <h1 id="headtitle" class="headtitle innerpage offset3"><span>{{topic.name}}</span></h1>
        </div>
    </div><!-- row -end -->
    <div class="row">

        <div class="span3">
            {% include "sidebar.html" %}
        </div><!-- span3 -->

        <div id="ajax-container" class="span9">
                {% if articles %}
                    {% for article in articles %}
                    <div class="topic">
                        <h3>
                            <p class="mada-title">
                                <a href="{% url article_detail classified_by='topics' class_slug=topic.get_absolute_url article_slug=article.slug %}">{{article.name}}</a><span>{% if article.id != article.original.id %}نسخة معدلة <a href="{% url article_detail classified_by='topics' class_slug=article.topic.get_absolute_url article_slug=article.original.slug %}" > - النسخه القديمة</a>{% endif %}</span>
                                <a href="{% url article_detail classified_by='topics' class_slug=topic.get_absolute_url article_slug=article.slug %}" class="comments-number pull-left">
                                	<i style="margin-top:4px; margin-left:5px;" class="icon-comment icon-white"></i>
                                    {% if article.feedback_count > 0 %}
                                        {{article.feedback_count}}
                                        {% if article.feedback_count > 2 and article.feedback_count <= 10 %}
                                             تعليقات 
                                        {% else %}
                                             تعليق
                                        {% endif %}
                                    {% else %}لا توجد تعليقات{% endif %}
                                </a>
                            </p>
                        </h3>
                    
                        <div class="like-group">
                         <a {% if user %} href="javascript:;" {%else%} href="#not-logged" rel="facebox"{% endif %} class="dislike vote rate {{article.id}} {% if voted_articles|vote_art:article.id == -1 %} active {% elif voted_articles|vote_art:article.id == 1 %} disabled {% endif %}" id="{{article.id}} " vote="0"><small class="dislike article {{article.id}}">{{article.dislikes}}</small></a>
                         <a {% if user %} href="javascript:;" {%else%} href="#not-logged" rel="facebox"{% endif %} class="like vote rate {{article.id}} {% if voted_articles|vote_art:article.id == 1 %} active {% elif voted_articles|vote_art:article.id == -1 %} disabled {% endif %}" id="{{article.id}}" vote="1" ><small class="like article {{article.id}}">{{article.likes}}</small></a>
                        </div> 
                        
                        <p>{{article.summary|safe|truncatewords_html:35}}</p>
                    </div><!-- topic end -->
                    {% endfor %}
                    <ul class=" pager">
                        <li class="next">
                        {% if articles.has_next %}
                        <a href="?page={{ articles.next_page_number }}">التالى &larr; </a>
                        {% endif %}
                        </li>
                        <li>
                          <span class="current">
                                صفحه {{ articles.number }} من {{ articles.paginator.num_pages }}.
                          </span>
                        </li>
                        <li class="previous">
                        {% if articles.has_previous %}
                        <a href="?page={{ articles.previous_page_number }}"> &rarr; السابق</a>
                        {% endif %}
                        </li>
                    </ul>
                {% else %}
                <div class="topic">
                    <h3>
                        <p class="mada-title">
                            لا توجد مواد متعلقة ب " <span  STYLE="font-size: x-large; color: #B66B5E"> {{topic.name}} </span> "
                        </p>
                    </h3>  
                </div><!-- topic end -->
                {% endif %}
                
        </div>
    </div><!-- row end -->
{% else %}
<div class="empty">لا يوجد أبواب</div>
{% endif %}

<link href="{{STATIC_URL}}css/facebox.css" media="screen" rel="stylesheet" type="text/css"/>
<script src="{{STATIC_URL}}js/facebox.js" type="text/javascript"></script>
<script type="text/javascript">
 $(document).ready(function() {
    $('a[rel*=facebox]').facebox()
    $(".rate").live("click",function(){
      {% if user %}
      $.ajax({
              type:"POST",
              url :"/sharek/article_vote/",
              data:{'article':$(this).attr('id'),'type': $(this).attr('vote') ,'csrfmiddlewaretoken': $("{% csrf_token %}").find("input").attr("value")},
              dataType:"json",
              error:function(data){},
              success:function(data){
              $(".like.article"+"."+data.article).text(data.p);  
              $(".dislike.article"+"."+data.article).text(data.n);
              if (data.vote == 1)
                {
                  $(".like.rate"+"."+data.article).addClass("active")
                  $(".dislike.rate"+"."+data.article).removeClass("active")
				  
                  $(".like.rate"+"."+data.article).removeClass("disabled")
                  $(".dislike.rate"+"."+data.article).addClass("disabled")
                }
                else
                {
                  $(".dislike.rate"+"."+data.article).addClass("active")
                  $(".like.rate"+"."+data.article).removeClass("active")
				  
                  $(".dislike.rate"+"."+data.article).removeClass("disabled")
                  $(".like.rate"+"."+data.article).addClass("disabled")
                }
              },
            });
      {% endif %}
    });
 });
</script>

{% endblock %}

