{% extends 'base.html' %}
{% load settings %}

{% block title %}{{topic.name}}{% endblock %}

{% block content %}

{% if topic %}
    <div class="row">
        <div class="span12 ">
            <h1 id="headtitle" class="headtitle innerpage offset3"><span>{{topic.name}}</span></h1>
        </div>
    </div><!-- row -end -->
    <div class="row">

        <div class="span3">
            {% include "sidebar.html" %}
        </div><!-- span3 -->

        <div id="ajax-container" class="span9">
                {% if articles %}
                    {% for article in articles %}
                    <div class="topic">
                        <h3>
                            <p class="mada-title">
                                <a href="{% url article_detail classified_by='topics' class_slug=topic.get_absolute_url article_slug=article.slug %}">{{article.name}}</a>
                                <a href="{% url article_detail classified_by='topics' class_slug=topic.get_absolute_url article_slug=article.slug %}" class="comments-number pull-left"><i style="margin-top:4px; margin-left:5px;" class="icon-comment icon-white"></i>{% if article.feedback_count > 0 %}{{article.feedback_count}}تعليق{% else %}لا توجد تعليقات{% endif %}</a>
                            </p>
                        </h3>  
                        <p>{{article.summary|safe|truncatewords_html:35}}</p>
                    </div><!-- topic end -->
                    {% endfor %}
                    <ul class=" pager">
                        <li class="next">
                        {% if articles.has_next %}
                        <a href="?page={{ articles.next_page_number }}">التالى &larr; </a>
                        {% endif %}
                        </li>
                        <li>
                          <span class="current">
                                صفحه {{ articles.number }} من {{ articles.paginator.num_pages }}.
                          </span>
                        </li>
                        <li class="previous">
                        {% if articles.has_previous %}
                        <a href="?page={{ articles.previous_page_number }}"> &rarr; السابق</a>
                        {% endif %}
                        </li>
                    </ul>
                {% else %}
                <div class="topic">
                    <h3>
                        <p class="mada-title">
                            لا توجد مواد متعلقة ب " <span  STYLE="font-size: x-large; color: #B66B5E"> {{topic.name}} </span> "
                        </p>
                    </h3>  
                </div><!-- topic end -->
                {% endif %}
                
        </div>
    </div><!-- row end -->
{% else %}
<div class="empty">لا يوجد أبواب</div>
{% endif %}

{% endblock %}

