{% load hash %}
{% load call %}
<div class="topic">
  {% if article.id != article.header.get_original.id %}
  <div class="editings-con">
      <span class="new">نسخة معدلة </span> 
      <a class="old" href="{% url article_diff article_slug=article.header.get_original.slug %}" >التعديلات السابقة</a>
  </div>
  {% endif %}
    
  <h3>
      <p class="mada-title">
          <a href="{% url article_detail classified_by='topics' class_slug=article.header.topic.get_absolute_url article_slug=article.slug %}">{{article.header.name}}</a>
          <a href="{% url article_detail classified_by='topics' class_slug=article.header.topic.get_absolute_url article_slug=article.slug %}" class="comments-number pull-left">
            <i style="margin-top:4px; margin-left:5px;" class="icon-comment icon-white"></i>
              {% if article.feedback_count > 0 %}
                  {{article.feedback_count}}
                  {% if article.feedback_count > 2 and article.feedback_count <= 10 %}تعليقات{% else %}تعليق{% endif %}
              {% else %}لا توجد تعليقات{% endif %}
          </a>
      </p>
  </h3>

  <div class="like-group">
  	<a {% if user %} href="javascript:;" {%else%} href="#not-logged" rel="facebox"{% endif %} class="dislike vote rate {{article.id}} {% if voted_articles|vote_art:article.id == -1 %} active {% elif voted_articles|vote_art:article.id == 1 %} disabled {% endif %}" id="{{article.id}} " vote="0"><small class="dislike article {{article.id}}">{{article.dislikes}}</small></a>
  	<a {% if user %} href="javascript:;" {%else%} href="#not-logged" rel="facebox"{% endif %} class="like vote rate {{article.id}} {% if voted_articles|vote_art:article.id == 1 %} active {% elif voted_articles|vote_art:article.id == -1 %} disabled {% endif %}" id="{{article.id}}" vote="1" ><small class="like article {{article.id}}">{{article.likes}}</small></a>
  </div>
  
  <p>{{article.summary|safe|truncatewords_html:35}}</p>
  
  {% if article.mod_date %}
  <p class="edit-date-article">آخر تحديث في {{article.mod_date|date:"Y/m/d"}} {{article.mod_date|time:"G:i"}} {% if article.mod_date|time:"A" == 'AM' %}{{"ص"}} {% else %}{{"م"}}{% endif %}</p><br />
  {% endif %}
  
</div><!-- topic end -->


{% if user %}
<script type="text/javascript">
 $(document).ready(function() {
	
    $(".rate").live("click",function(){
      $.ajax({
              type:"POST",
              url :"/sharek/article_vote/",
              data:{'article':$(this).attr('id'),'type': $(this).attr('vote') ,'csrfmiddlewaretoken': $("{% csrf_token %}").find("input").attr("value")},
              dataType:"json",
              error:function(data){},
              success:function(data){
              $(".like.article"+"."+data.article).text(data.p);  
              $(".dislike.article"+"."+data.article).text(data.n);
              if (data.vote == 1)
                {
                  $(".like.rate"+"."+data.article).addClass("active")
                  $(".dislike.rate"+"."+data.article).removeClass("active")
				  
                  $(".like.rate"+"."+data.article).removeClass("disabled")
                  $(".dislike.rate"+"."+data.article).addClass("disabled")
                }
                else
                {
                  $(".dislike.rate"+"."+data.article).addClass("active")
                  $(".like.rate"+"."+data.article).removeClass("active")
				  
                  $(".dislike.rate"+"."+data.article).removeClass("disabled")
                  $(".like.rate"+"."+data.article).addClass("disabled")
                }
              },
            });
    });
 });
</script>
{% endif %}