{% load call %}
{% load date_format %}

<div class="topic article-block">

  <!-- {% if article.id != article.original %}
  <div class="editings-con">
      <span class="new">نسخة معدلة </span> 
      <a class="old" href="{% url article_diff article_slug=article.original_slug %}" >التعديلات السابقة</a>
  </div>
  {% endif %} -->
    
  <h3>
      <p class="mada-title">
          {% if profile %}
            <a href="{% url article_detail classified_by='topics' class_slug=article.topic_slug article_slug=article.slug %}">{{article.name}}</a>
            <a href="{% url article_detail classified_by='topics' class_slug=article.topic_slug article_slug=article.slug %}" class="comments-number pull-left">
          {% else %}
            <a href="{% url article_detail classified_by='topics' class_slug=article.topic_slug article_slug=article.slug %}">{{article.name}}</a>
            <a href="{% url article_detail classified_by='topics' class_slug=article.topic_slug article_slug=article.slug %}" class="comments-number pull-left">
          {% endif %}
          
            <i  class="icon-comment "></i>
              {% if not summarized %}
                {% if article.feedback_count > 0 %}
                    {{article.feedback_count}}
                    تعليق
                {% else %}لا توجد تعليقات{% endif %}
              {% else %}
               {{feedback_count}} تعليق
              {% endif %}
          </a>
          
      </p>
  </h3>

  {% ifequal topic_page 1 %}
  <a href="{% url topic topic_slug=article.topic_slug %}">{{ article.topic_name }}</a>
  {% endifequal %}
  
  {% if suggestions %}
    {% for suggestion in suggestions %}
      {% include "include/suggestion_block.html" %}
    {% endfor %}
  {% else %}
    {% for suggestion in article.get_suggestions %}
      {% include "include/suggestion_block.html" with suggestions=article.get_suggestions %}
    {% endfor %}
  {% endif %}

  {% if article.mod_date %}
  <p class="edit-date-article date">آخر تحديث {{article.mod_date|format}} </p><br />
  {% endif %}

</div><!-- topic end -->