{% load replace %}
{% load hash %} 
{% load date_format %} 

{% if user %}
  <div class="comment-block comment-entry">
    <div class="facebook_user_img">
    {% if user == 'admin' %}
        <a class="user-image" title="Admin"><img class="loader" src="{{ STATIC_URL }}images/admin.gif"></a>
    {% else %}
        <a href="http://www.facebook.com/{{ user }}" target="_blank" class="user-image" title="{{ user.first_name }} {{ user.last_name }}">
            <img class="loader" src="http://graph.facebook.com/{{ user }}/picture">
        </a>
    {% endif %}
    </div>
          
          {% if user == 'admin' %}
	        <h3><p class="name"><a>{{ user.first_name }} {{ user.last_name }}</a></p></h3> 
          {% else %}
    <h3><p class="name"><a href="http://www.facebook.com/{{ user }}" target="_blank">{{ user.first_name }} {{ user.last_name }}</a></p></h3> 
          {% endif %}
            
    <p>
      <textarea rows="3" class="input-xlarge span7" id="suggestion"></textarea>
      <br/>
      <button class="btn btn-danger offset0" type="submit" id="modify" >أضف تعليقك الآن !</button>
    </p>
  </div>
{% else %}
  <div class="comment-block comment-entry not-logged">  
    <p style=" color:#960d0d; text-align:center; line-height:34px; font-size:16px; text-shadow:0 1px 1px rgba(150,0,0,0.5)">
      مرحبـــا! 
      <br /> 
      لكى تتمكن من تسجيل مقترحاتك لابد من تسجيل دخولك أولا
      <br />
      <a href="#" onclick="login();return false;">
        <img width="150" src="http://egynda.com/resource/images/fb_sign.png"/>
      </a>
    </p>
  </div><!-- comment end -->
{% endif %}



{% if feedbacks|length >= 1 and top_ranked|length == 3 %}
  <div class="top-comments">
    <span class="comments-number pull-left">أفضل التعليقات</span>
    {% for feedback in top_ranked %}
    	{% include "include/comment-block.html" %}
    {% endfor %}
  </div><!-- "top-comments -->
{% endif %}
  

<div class="comment-block well top" {% if feedbacks|length == 0 %}style="display:none;"{% endif %}>
  {% if feedbacks|length > 0 %} 
      <a class="{%if order_by = 'def' or order_by = 'latest' %}selected{%endif%}" href="/sharek{%if tags %}/tags/{{tag.slug}}{%else%}/topics/{{topic.slug}}{%endif%}/{{article.get_absolute_url}}latest/#time" id="time">حسب الوقت</a>
      <a> | </a>
      <a class="{%if order_by = 'order' %}selected{%endif%}" href="/sharek{%if tags %}/tags/{{tag.slug}}{%else%}/topics/{{topic.slug}}{%endif%}/{{article.get_absolute_url}}order/#rank" id="rank">حسب التصويت</a>
  {% endif %}
</div>

{% if feedbacks|length >= 1 %}

  {% for feedback in feedbacks %}
    {% include "include/comment-block.html" %}
  {% endfor %}
  
  <div class="pagging">
    <ul class=" pager">
      <li class="next">
        {% if feedbacks.has_next %}
          <a href="?page={{ feedbacks.next_page_number }}">التالى &larr; </a>
        {% endif %}
      </li>
      <li>
        <span class="current">
              صفحه {{ feedbacks.number }} من {{ feedbacks.paginator.num_pages }}.
        </span>
      </li>
      <li class="previous">
        {% if feedbacks.has_previous %}
          <a href="?page={{ feedbacks.previous_page_number }}"> &rarr; السابق</a>
        {% endif %}
      </li>
    </ul>
  </div><!-- pagging --> 
  
{% endif %}

<link href="{{STATIC_URL}}css/facebox.css" media="screen" rel="stylesheet" type="text/css"/>
<script src="{{STATIC_URL}}js/facebox.js" type="text/javascript"></script>


<script type="text/javascript">
  $(document).ready(function() {
   $('a[rel*=facebox]').facebox()
   
   $(".L_vote").live("click",function(){
    {% if user %}
      $.ajax({
              type:"POST",
              url :"{% url vote %}",
              data:{'article':{{article.id}},'modification': this.id ,'type': $(this).attr('vote') ,'csrfmiddlewaretoken': $("{% csrf_token %}").find("input").attr("value")},
              dataType:"json",
              error:function(data){},
              success:function(data){
                $(".like"+"."+data.modification).text(data.p);  
                $(".dislike"+"."+data.modification).text(data.n);
                if (data.vote == 1)
                {
                  $(".like.vote.L_vote"+"."+data.modification).addClass("active")
                  $(".dislike.vote.L_vote"+"."+data.modification).removeClass("active")
				  
                  $(".like.vote.L_vote"+"."+data.modification).removeClass("disabled")
                  $(".dislike.vote.L_vote"+"."+data.modification).addClass("disabled")
                }
                else
                {
                  $(".dislike.vote.L_vote"+"."+data.modification).addClass("active")
                  $(".like.vote.L_vote"+"."+data.modification).removeClass("active")
				  
                  $(".dislike.vote.L_vote"+"."+data.modification).removeClass("disabled")
                  $(".like.vote.L_vote"+"."+data.modification).addClass("disabled")
                }
              },
            });
    {% endif %}
        });
   
   $(".L_reply").live("click",function(){
    visible = $(".L_replies_block."+$(this).attr('id')).is(":visible")
    if (visible)
    {
      $('.child-reply.'+this.id).show()
    }
    else
    {
      $(this).expand_effect()
      $('.child-reply.'+this.id).show()
    }
    $('html,body').animate({ scrollTop: $('.child-reply.'+this.id).offset().top -100 },800);
   });

   $(".L_hide").live("click",function(){
    $(".L_reply_txt."+$(this).attr('feedback_id')).val("");
    $(".comment-entry.child-reply."+$(this).attr('feedback_id')).hide();
   });

   $(".L_reply_bt").live("click",function(){
      if ($.trim($(".L_reply_txt."+$(this).attr('parent')).val()).length > 0)
      {
        $.ajax({
              type:"POST",
              url :"{% url reply_feedback %}",
              data:{
                  'link': document.URL,
                  'user_id':"{{user}}",
                  'name':"{{user.first_name}} {{ user.last_name }}",
                  'article':"{{article.id}}",
                  'email': "{{user.email}}",
                  'parent': $(this).attr('parent') ,
                  'csrfmiddlewaretoken': $("{% csrf_token %}").find("input").attr("value"),
                  'suggestion': $(".L_reply_txt."+$(this).attr('parent')).val()},
              dataType:"json",
              error:function(data){},
              success:function(data){
                if (data.duplicate == true)
                {
                  alert ("أ/"+data.name+" يرجى مراعاة تغيير محتوي تعليقك للوصول لأقصى إستفاده من مشاركاتك");
                  $(".L_reply_txt."+data.parent).val("");
                }
                else
                {
                  $(".child-reply."+data.parent).before($("#reply_temp").tmpl({"id":data.id ,"date": "منذ قليل", "suggestion": data.suggestion}));
                  $(".L_reply_txt."+data.parent).val("")
                  $(".comment-entry.child-reply."+data.parent).hide();
                }

              },
          });
      }
   });   

    $(".L_remove").live("click",function(){
      {% if user %}
        if (confirm('هل أنت متأكد من أنك تريد حذف تعليقك ؟'))
        {
          $.ajax({
                  type:"POST",
                  url :"{% url remove_feedback %}",
                  data:{'feedback':$(this).attr('feedback_id'),
                        'csrfmiddlewaretoken': $("{% csrf_token %}").find("input").attr("value")},
                  dataType:"json",
                  error:function(data){},
                  success:function(data){
                    for (var i=0; i<data.reply_ids.length; i++) 
                    {
                      $(".L_"+data.reply_ids[i]).remove();  
                    }
                    $(".L_"+data.feedback_id).remove();  
                  },
                });
        }
      {% endif %}
    });

    $("#modify").click(function(){
      if ($.trim($("#suggestion").val()).length > 0)
      {
        $("#modify").after($("#loading_temp").tmpl());
        $.ajax({
              type:"POST",
              url :"{% url modify %}",
              data:{
                  'link': document.URL,
                  'article_slug': "{{article.slug}}",
                  'class_slug': "{%if tags%}tags/{{tag.slug}}{%else%}topics/{{topic.slug}}{%endif%}",
                  'user_id':"{{user}}",
                  'name':"{{user.first_name}} {{ user.last_name }}",
                  'article':"{{article.id}}",
                  'email': "{{user.email}}",
                  'csrfmiddlewaretoken': $("{% csrf_token %}").find("input").attr("value"),
                  'suggestion': $.trim($("#suggestion").val())},
              dataType:"json",
              error:function(data){},
              success:function(data){
                if (data.duplicate == true)
                {
                  alert ("أ/"+data.name+" يرجى مراعاة تغيير محتوي تعليقك للوصول لأقصى إستفاده من مشاركاتك");
                  $("#suggestion").val("");
                  $("#load-img").remove();
                }
                else
                {
                  $("#suggestion").val("");
                  $("#count").attr("value",parseInt($("#count").attr("value"))+1);
                  $("#feedback_counter").text($("#count").attr("value")+" تعليق");
                  $(".comment-block.well.top").after($("#modification_temp").tmpl({"id":data.id ,"date": "منذ قليل", "suggestion": data.suggestion}));
                  $("#load-img").remove();
                }

              },
          });
      }
    });

    $(".L_show_more").live("click",function(){
      $(this).expand_effect()
    });

    jQuery.fn.expand_effect = function() 
    {
      visible = $(".L_replies_block."+$(this[0]).attr('id')).is(":visible")
      if (visible)
      {
        $(".L_show_more_icon."+$(this[0]).attr('id')).addClass("icon-plus")
        $(".L_show_more_icon."+$(this[0]).attr('id')).removeClass("icon-minus")
        $(".L_show_more_txt."+$(this[0]).attr('id')).text("إظهار باقي الردود")
        $(".L_replies_block."+$(this[0]).attr('id')).hide();
      }
      else
      {
        $(".L_show_more_icon."+$(this[0]).attr('id')).removeClass("icon-plus")
        $(".L_show_more_icon."+$(this[0]).attr('id')).addClass("icon-minus")
        $(".L_show_more_txt."+$(this[0]).attr('id')).text("إخفاء باقي الردود")
        $(".L_replies_block."+$(this[0]).attr('id')).show();
      }
    };

  });
</script>


<script id="modification_temp" type="text/x-jquery-tmpl">
  <div class="comment-block L_${id} alt">
    <div class="facebook_user_img">
      <a href="http://www.facebook.com/{{ user }}" target="_blank"><img src="http://graph.facebook.com/{{ user }}/picture" class="loader"/></a>
    </div>
          
          {% if user == 'admin' %}
	        <h3><p class="name"><a>{{ user.first_name }} {{ user.last_name }}</a></p></h3> 
          {% else %}
      <h3><p class="name"><a href="http://www.facebook.com/{{ user }}" target="_blank">{{ user.first_name }} {{ user.last_name }}</a></p></h3>
          {% endif %}
             
    <div class="like-group">
     <a {% if user %} href="javascript:;" {%else%} href="#not-logged" rel="facebox"{% endif %} class="dislike vote L_vote  ${id}" id="${id}" vote="0"><small class="dislike ${id}">0</small></a>
     <a {% if user %} href="javascript:;" {%else%} href="#not-logged" rel="facebox"{% endif %} class="like vote L_vote  ${id}" id="${id}" vote="1"><small class="like ${id}">0</small></a>
    </div>
    <span class="date">${date}</span>
    <p>${suggestion}</p>
    <div class="delete-group">
      <a href="javascript:;" class="L_remove delete" feedback_id="${id}"><span class="icon-trash"></span>مسح التعليق</a>
    </div>
  </div>
</script>

<script id="reply_temp" type="text/x-jquery-tmpl">
  <div class="comment-block child-reply L_${id}">
    <div class="facebook_user_img">
		{% if user == 'admin' %}
			<a class="user-image" title="Admin"><img class="loader" src="{{ STATIC_URL }}images/admin.gif"></a>
		{% else %}
			<a href="http://www.facebook.com/{{ user }}" target="_blank" class="user-image" title="{{ user.first_name }} {{ user.last_name }}">
				<img class="loader" src="http://graph.facebook.com/{{ user }}/picture">
			</a>
		{% endif %}
    </div>
          
          {% if user == 'admin' %}
	        <h3><p class="name"><a>{{ user.first_name }} {{ user.last_name }}</a></p></h3> 
          {% else %}
      <h3><p class="name"><a href="http://www.facebook.com/{{ user }}" target="_blank">{{ user.first_name }} {{ user.last_name }}</a></p></h3>
          {% endif %}
             
    <div class="like-group">
     <a {% if user %} href="javascript:;" {%else%} href="#not-logged" rel="facebox"{% endif %} class="dislike vote L_vote  ${id}" id="${id}" vote="0"><small class="dislike ${id}">0</small></a>
     <a {% if user %} href="javascript:;" {%else%} href="#not-logged" rel="facebox"{% endif %} class="like vote L_vote  ${id}" id="${id}" vote="1"><small class="like ${id}">0</small></a>
    </div>
    <span class="date">${date}</span>
    <p>${suggestion}</p>
    <div class="delete-group">
        <a href="javascript:;" class="L_remove delete " feedback_id="${id}"><span class="icon-trash"></span>مسح التعليق</a>
    </div>
  </div>
</script>

<script id="loading_temp" type="text/x-jquery-tmpl">
    <img style="margin-right:20px;" id="load-img" src="{{ STATIC_URL }}images/loading.gif" alt="loading"/>
</script>


