{% load replace %}
{% load hash %} 
{% load date_format %}
{% load auth_provider %}

<div class="last-comment comment-block {% if forloop.counter|divisibleby:2 %}alt{% endif %} L_{{feedback.id}}">
  
  {% with name=feedback.name username=feedback.user provider=feedback.provider %}
  	{% include "include/user-block.html" %}
  {% endwith %}
          
  {% with comment=feedback with_reply='1' %}
    {% include "include/actions_block.html" %}
  {% endwith %}
  
  <div class="L_replies_block child-wrapper {{feedback.id}}" style="display:none;">
    {% if feedback.children > 0 or children > 0 %}
      {% for reply in feedback.get_children %}
        <div class="comment-block child-reply L_{{reply.id}}">
          
          {% with name=reply.name username=reply.user provider=reply.provider %}
          	{% include "include/user-block.html" %}
          {% endwith %}
          
          {% with comment=reply %}
          	{% include "include/actions_block.html" %}
          {% endwith %}
          
        </div><!-- comment end -->
      {% endfor %}
    {% endif %}
    <div class="comment-block comment-entry child-reply {{feedback.id}}" style="display:none;">
    
      {% with name=user.first_name username=user.username provider=request.session.social_auth_last_login_backend %}
       	 {% include "include/user-block.html" %}
      {% endwith %}
      
             
      <a href="javascript:;" class="L_hide close  " feedback_id="{{feedback.id}}" ><span>&times;</span></a>
      <p >
       <textarea rows="3" class="input-xlarge span7 L_reply_txt {{feedback.id}}" id="suggestion"></textarea>
       <br />
       <button class="btn btn-info offset0 L_reply_bt" type="submit" id="reply" parent="{{feedback.id}}">أضف ردك الآن !</button>
      </p>
    </div>
  </div>
</div><!-- comment end -->