
<div class="row">
    <div class="span12">
        <div class="pull-left">
            <div class="span8 footer-nav">
            	<p>تم التطوير بواسطة </p><a class="espaceLogo" target="_blank" href="http://espace.com.eg">&nbsp;</a>
            </div><!-- top-nav -->
         </div>
         <p class="copyrights pull-right"> جميع الحقوق محفوظة للجمعية التأسيسية للدستور</p>
    </div><!--  end -->
</div><!-- row end -->

<div id="toTop" class="visible-desktop">العودة إلى الأعلى &uarr;</div>

<script type="text/javascript">
$(function() {
	$(window).scroll(function() {
		if($(this).scrollTop() != 0) {
			$('#toTop').fadeIn();	
		} else {
			$('#toTop').fadeOut();
		}
	});
 
	$('#toTop').click(function() {
		$('body,html').animate({scrollTop:0},800);
	});	
});
</script>
