
<div class="row">
    <div class="span12">
        <div class="pull-left">
                <div class="span8 footer-nav">
                    <ul class="nav nav-pills">
                        <li class="">
                            <a href="http://dostour.eg/home?view=article&id=220">اتصل بنا</a>
                        </li>
                        {% if user.is_staff %}
                          <li class="">
                            <a href="{% url top_liked %}">الإحصائيات</a>
                          </li>
                        {% endif %}
                        <li class="">
                          <a href="{% url index %}">مبادرة <strong>"شارك"</strong></a>
                        </li>
                        <li class="">
                            <a href="http://dostour.eg">الرئيسية</a>
                        </li>
                    </ul>
            </div><!-- top-nav -->
            </div>
            <p class="copyrights pull-right"> جميع الحقوق محفوظة للجمعية التأسيسية للدستور</p>

			<script type="text/javascript">
              var _gaq = _gaq || [];
              _gaq.push(['_setAccount', 'UA-33968313-2']);
              _gaq.push(['_setDomainName', 'dostour.eg']);
              _gaq.push(['_trackPageview']);
            
              (function() {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
              })();
            </script>
            
            
			<script type="text/javascript">
              var _gaq = _gaq || [];
              _gaq.push(['_setAccount', 'UA-33266543-1']);
              _gaq.push(['_trackPageview']);
            
              (function() {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
              })();
            </script>

    </div><!--  end -->
</div><!-- row end -->

<div id="toTop" class="visible-desktop">العودة إلى الأعلى &uarr;</div>

<script type="text/javascript">
$(function() {
	$(window).scroll(function() {
		if($(this).scrollTop() != 0) {
			$('#toTop').fadeIn();	
		} else {
			$('#toTop').fadeOut();
		}
	});
 
	$('#toTop').click(function() {
		$('body,html').animate({scrollTop:0},800);
	});	
});
</script>
