
<div class="row">
    <div class="span12">
        <div class="pull-left">
                <div class="span8 footer-nav">
                    <ul class="nav nav-pills">
                        <li class="">
                            <a href="http://dostour.eg/home?view=article&id=220">اتصل بنا</a>
                        </li>
                        {% if user.is_staff %}
                          <li class="">
                            <a href="{% url top_liked %}">الإحصائيات</a>
                          </li>
                        {% endif %}
                        <li class="">
                          <a href="{% url index %}">مبادرة <strong>"شارك"</strong></a>
                        </li>
                        <li class="">
                            <a href="http://dostour.eg">الرئيسية</a>
                        </li>
                    </ul>
            </div><!-- top-nav -->
            </div>
            <p class="copyrights pull-right"> جميع الحقوق محفوظة للجمعية التأسيسية للدستور</p>

    </div><!--  end -->
</div><!-- row end -->

<div id="toTop" class="visible-desktop">العودة إلى الأعلى &uarr;</div>

<script type="text/javascript">
$(function() {
	$(window).scroll(function() {
		if($(this).scrollTop() != 0) {
			$('#toTop').fadeIn();	
		} else {
			$('#toTop').fadeOut();
		}
	});
 
	$('#toTop').click(function() {
		$('body,html').animate({scrollTop:0},800);
	});	
});
</script>
