{% load settings %}

<div class="container header">
  <div class="row">
      <div class="span3">
        <div class="pull-right logo">
            <a href="http://dostour.eg"><img src="{{STATIC_URL}}images/logo.png" alt="دستور مصر"></a>
        </div>
      </div><!-- logo end -->
      
      <div class="pull-left search">
          <div class="span5 pull-left facebook_log_in">
            <div class="">
                {% if user %}
                
                  <div class="attrs">
                    <p class="user_name">{{ user.first_name }} {{ user.last_name }}</p>
                    <a href="{% url logout %}" class="log_out btn btn-inverse btn-mini"><i class="icon-off icon-white"></i> تسجيل خروج  </a>
                  </div>
                  
                  {% if request.session.social_auth_last_login_backend = 'google' %}
                    <img src="{{STATIC_URL}}images/google_user.gif" class="user_img" />
                  {% else %}
                    <img src="{{STATIC_URL}}photos/profile/{{user}}" class="user_img" />
                  {% endif %}
                  
                {% else %}  
                  {% if error %}
                    {% if error == 'AUTH_FAILED' %}
                        <p>Authentication failed</p>
                    {% else %}
                      {% if error == 'AUTH_DISABLED' %}
                        <p>Your account is disabled</p>
                      {% else %}
                        {% if error == 'AUTH_DENIED' %}
                        <p>You did not allow access</p>
                        {% endif %}
                      {% endif %}
                    {% endif %}
                  {% else %}
                    <div class="social_login">
                      <p> يمكنك الآن تسجيل الدخول بواسطة</p>
                      <a href="#" onclick="login('facebook'); return false;" class="facebook" title="سجل دخول"><img src="{{STATIC_URL}}images/facebook.png" alt=""></a>
                      <a href="#" onclick="login('twitter'); return false;" class="twitter" title="سجل دخول"><img src="{{STATIC_URL}}images/twitter.png" alt=""></a>
                      <a href="#" onclick="login('google'); return false;" class="google" title="سجل دخول"><img src="{{STATIC_URL}}images/google.png" alt=""></a>
                      <a href="#" onclick="login('yahoo'); return false;" class="yahoo" title="سجل دخول"><img src="{{STATIC_URL}}images/yahoo.png" alt=""></a>
                    </div>
                  {% endif %}
                {% endif %}         
            </div>
          </div>
      </div> <!-- search -->
  </div><!-- row end -->
</div><!-- header -->

<div class="container navigation">
  <div class="row">
      <div class="span12">

        <div class="navbar-inner top-nav hidden-phone">
            <ul class="nav nav-pills ">
                <li class="">
                  <a href="http://dostour.eg">الرئيسية</a>
                </li>
                <li class="">
                  <a href="{% url index %}">مبادرة <strong>"شارك"</strong></a>
                </li>
                {% if user.is_staff %}
                  <li class="">
                    <a href="{% url top_liked %}">الإحصائيات</a>
                  </li>
                {% endif %}
                <li class="">
                  <a href="http://dostour.eg/home?view=article&id=220">اتصل بنا</a>
                </li>
                {% if user %}
                <li>
                  <a href="{% url profile browsing_data='likes' %}">الملف الشخصي</a>
                </li>
                {% endif %}
              </ul>
              

            <form class="navbar-search pull-left" action="{% url search %}" method="POST">
                {% csrf_token %}
                 <input type="text" name="q" id="q" style="font: 11px tahoma;" class="search-query span2" placeholder="أدخل كلمات البحث">
            </form>
        </div><!-- nav -end -->
      <div class="navbar-inner top-nav  visible-phone">

            <div class="btn-group">
                      <button data-toggle="dropdown" class="btn btn-large btn-inverse dropdown-toggle"><i class="icon-list icon-white"></i> <span class="caret"></span></button>
                      <ul class="dropdown-menu">
                            <li class="">
                              <a href="http://dostour.eg">الرئيسية</a>
                            </li>
                            <li class="">
                              <a href="{% url index %}">مبادرة <strong>"شارك"</strong></a>
                            </li>
                            {% if user.is_staff %}
                              <li class="">
                                <a href="{% url top_liked %}">الإحصائيات</a>
                              </li>
                            {% endif %}
                             <li class="">
                              <a href="http://dostour.eg/home?view=article&id=220">اتصل بنا</a>
                            </li>
                      </ul>
              </div>

              <form class="navbar-search pull-left" action="{% url search %}" method="POST">
                      {% csrf_token %}
                       <input type="text" name="q" id="q" style="font: 11px tahoma;" class="search-query span2" placeholder="أدخل كلمات البحث">
              </form>
         </div>
      </div>
      

  </div><!-- row end -->
</div><!-- content -->        
        
   <div id="not-logged" style="display:none;">  
    <p style=" color:#960d0d; text-align:center ;margin-top:20px;   font: 14px GESSTwoMediumRegular;
">للمشاركة فى التعليقات رجاءا قم بتسجيل الدخول
      <div class="social_login">
        <p> يمكنك الآن تسجيل الدخول بواسطة</p>
        <a href="#" onclick="login('facebook'); return false;" class="facebook" title="سجل دخول"><img src="{{STATIC_URL}}images/facebook.png" alt=""></a>
        <a href="#" onclick="login('twitter'); return false;" class="twitter" title="سجل دخول"><img src="{{STATIC_URL}}images/twitter.png" alt=""></a>
        <a href="#" onclick="login('google'); return false;" class="google" title="سجل دخول"><img src="{{STATIC_URL}}images/google.png" alt=""></a>
        <a href="#" onclick="login('yahoo'); return false;" class="yahoo" title="سجل دخول"><img src="{{STATIC_URL}}images/yahoo.png" alt=""></a>
      </div>

    </p>
  </div><!-- comment end -->       
 