<div class="facebook_user_img">
<!-- display an image if the logged was not admin -->
{% if username != 'admin' %}
    {% if provider == 'facebook' %}
        <a href="{% url user username=username %}" class="user-image" title="{{ name }}">
            <img class="loader" src="{{ STATIC_URL }}photos/profile/{{ username }}">
        </a>
    {% elif provider == 'twitter' %}
        <a href="{% url user username=username %}" class="user-image" title="{{ name }}">
          <img class="loader" src="{{ STATIC_URL }}photos/profile/{{ username }}">
        </a>
    {% elif provider == 'yahoo' %}
    	<img class="loader" src="{{ STATIC_URL }}photos/profile/{{ username }}">
    {% elif provider == 'google' %}
   	 	<img class="loader" src="{{ STATIC_URL }}images/google_user.gif">
    {% else %}
        <a href="#" class="user-image" title="{{ name }}">
          <img class="loader" src="{{ STATIC_URL }}photos/profile/{{ username }}">
        </a>
    {% endif %}
{% endif %}
</div>
          
{% if username == 'admin' %}
    <h3><p class="name"><a>{{ name }}</a></p></h3> 
{% else %}
    {% if provider == 'facebook' %}
		<h3><p class="name"><a href="{% url user username=username %}">{{ name }}</a></p></h3>
    {% elif provider == 'twitter' %}
		<h3><p class="name"><a href="{% url user username=username %}">{{ name }}</a></p></h3>
    {% elif provider == 'yahoo' %}
		<h3><p class="name"><a>{{ name }}</a></p></h3>
    {% elif provider == 'google' %}
		<h3><p class="name"><a>{{ name }}</a></p></h3>
    {% else %}
		<h3><p class="name"><a href="#default">{{ name }}</a></p></h3> 
  	{% endif %}
{% endif %}