
DEBUG = True
TEMPLATE_DEBUG = DEBUG

MEMCACHED_TIMEOUT = 21600 # 6 Hrs
MEMCACHED_BACKEND = '127.0.0.1:11211'

DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.postgresql_psycopg2', # Add 'postgresql_psycopg2', 'mysql', 'sqlite3' or 'oracle'.
        'NAME': 'DB_NAME',                      # Or path to database file if using sqlite3.
        'USER': 'DB_USER',                      # Not used with sqlite3.
        'PASSWORD': 'DB_PASSWORD',                  # Not used with sqlite3.
        'HOST': '',                      # Set to empty string for localhost. Not used with sqlite3.
        'PORT': '',                      # Set to empty string for default. Not used with sqlite3.
    }
}

paginator = 10
domain = "http://dostour2012.org/sharek/"

FACEBOOK_APP_ID = 'YOUR_FACEBOOK_APP_ID'
FACEBOOK_API_KEY = 'YOUR_FACEBOOK_API_KEY'
FACEBOOK_API_SECRET = 'YOUR_FACEBOOK_API_SERCRET'
FACEBOOK_REDIRECT_URI = 'YOUR_CALLBACK_URL_AFTER_FACEBOOK_CONNET'


TWITTER_CONSUMER_KEY         = 'YOUR_TWITTER_CONSUMER_KEY'
TWITTER_CONSUMER_SECRET      = 'TWITTER_CONSUMER_SECRET'

FACEBOOK_EXTENDED_PERMISSIONS = ['email']

GOOGLE_CONSUMER_KEY          = ''
GOOGLE_CONSUMER_SECRET       = ''
GOOGLE_OAUTH2_CLIENT_ID      = ''
GOOGLE_OAUTH2_CLIENT_SECRET  = ''

BITLY_USERNAME = 'YOUR_BITLY_USERNAME'
BITLY_APIKEY = 'YOUR_BITLY_APIKEY'