{% extends 'base.html' %}
{% load settings %}

{% block title %}من نحن ؟{% endblock %}

{% block nav-about %}<li class="active"><a href="{% url about_us %}">من نحن ؟</a></li>{% endblock %}

{% block content %}
<div class="row">
    <div class="span12 ">
      <h1 id="headtitle" class="headtitle innerpage searchPage"><span>من نحن ؟</span></h1>
    </div>
  </div><!-- row -end -->

  <div class="row">
    <div class="span12" style="height: 300px">
      معلومات عن الشركة معلومات عن الشركة معلومات عن الشركة معلومات عن الشركة معلومات عن الشركة 
    </div>
  </div>

{% endblock %}