{% extends 'base.html' %}
{% block title %}تعديلات {{article.header.name}}{% endblock %}

{% block content %}
<div class="row">
    <div class="span12 inner-article"></div>
</div>
<div class="row">
	<div class="span12">
        <div id="headtitle" class="headtitle offset3 visible-desktop">
            <h1>تعديلات {{article.header.name}}</h1> 
        </div>

        <div id="headtitle" class="headtitle hidden-desktop">
            <h1>تعديلات {{article.header.name}}</h1>
        </div>
	</div>
</div>

<div class="row">

  <div class="span3">
      {% include "include/sidebar.html" %}
  </div><!-- span3 -->
  
  <div class="span9 history-records ">
    {% for article in versions %}
      <div class="well {% if article.current %}recent{% endif %}">
        <h3>
        	<p class="mada-title"><a href="{% url article_detail classified_by='topics' class_slug=article.topic_absolute_url article_slug=article.slug %}">{{article.name}}</a></p>
        	<span class="edit-date">
            	<strong>نسخة بتاريخ </strong> 
                {{article.date|date:"Y/m/d"}} {{article.date|time:"G:i"}} {% if article.date|time:"A" == 'AM' %}{{"ص"}} {% else %}{{"م"}}{% endif %}
            </span>
        </h3>
        <div id="version-67">{{ article.text|striptags }}</div><br>
      </div><!-- well -->
    {% endfor %}
  </div>
</div><!-- roww -->
{% endblock %}