{% extends 'base.html' %}

{% load replace %}
{% load hash %} 
<!-- {% load date_format %}  -->
{% block title %}{{article.header.name}}{% endblock %}

{% block content %}
<div class="row">
    <div class="span12 inner-article">
        
    </div>
</div>
<div class="row">
    <div class="span12 ">
        <div id="headtitle" class=" innerpage offset3 visible-desktop">
         {% if related_tags %}
          <div class="tags ">
            <p>تتعلق هذه المواد بـ :</p>
                {% for related in related_tags %}
                  <a href="{% url tag tag_slug=related.get_absolute_url %}">"{{related.name}}"</a>
                {% endfor %}
       	  </div>
          {% endif %}
       </div>
        <div id="headtitle" class=" innerpage  hidden-desktop">
         {% if related_tags %}
          <div class="tags ">
            <p>تتعلق هذه المواد بـ :</p>
                {% for related in related_tags %}
                  <a href="{% url tag tag_slug=related.get_absolute_url %}">"{{related.name}}"</a>
                {% endfor %}
          </div>
          {% endif %}
       </div>
    </div>
</div><!-- row -end -->
<div class="row">

  <div class="span3">
      {% include "include/sidebar.html" %}
  </div><!-- span3 -->

  <div id="ajax-container" class="span9">
    
    {% include "include/article_block.html" %}
    <ul class="topic-paging">
    {% if prev %}
    <li class="prev" >
      <a href="{% url article_detail classified_by='topics' class_slug=prev.header.topic.get_absolute_url article_slug=prev.slug %}"> &rarr; &nbsp;&nbsp;{{prev.header.name}}</a>
    </li>
    {% endif %}
    
    {% if next %}
     <li class="next">
      <a href="{% url article_detail classified_by='topics' class_slug=next.header.topic.get_absolute_url article_slug=next.slug %}">{{next.header.name}}&nbsp;&nbsp;  &larr;</a>
     </li>
    {% endif %}
</ul>
    {% include "include/comments-new.html" %}

  </div><!-- span 8 -->

</div><!-- row end -->




  
{% endblock %}