{% extends 'base.html' %}

{% load call %}
{% load replace %}
{% load hash %} 
<!-- {% load date_format %}  -->

{% block title %}{{article.header.name}}{% endblock %}
{% block description %}{{article.summary|striptags }}{% endblock %}
{% block keywords %}{% for related in related_tags %}{{related.name}}, {% endfor %}{% endblock %}

{% block content %}

<div class="row">
    <div class="span12 " style="margin-top:50px;">
        <div id="headtitle" class=" innerpage offset3 visible-desktop">
         {% if related_tags %}
          <div class="tags ">
            <p>تتعلق هذه المواد بـ :</p>
                {% for related in related_tags %}
                  <a href="{% url tag tag_slug=related.get_absolute_url %}">"{{related.name}}"</a>
                {% endfor %}
       	  </div>
          {% endif %}
       </div>
       <div id="headtitle" class=" innerpage  hidden-desktop">
         {% if related_tags %}
          <div class="tags ">
            <p>تتعلق هذه المواد بـ :</p>
                {% for related in related_tags %}
                  <a href="{% url tag tag_slug=related.get_absolute_url %}">"{{related.name}}"</a>
                {% endfor %}
          </div>
          {% endif %}
       </div>
        
    </div>
</div><!-- row -end -->
<div class="row">

  <div class="span3">
      {% include "include/sidebar.html" %}
  </div><!-- span3 -->

  <div id="ajax-container" class="span9">
    {% if user %}
      {% if user.is_staff %}
      <div style="display:none">
        <div id="data">
          <div id="article_cloud" style="width: 700px; height: 550px;"></div>
        </div>
      </div>
      {% endif %}
    {% endif %}

    {% include "include/article_block.html" %}
    {% if just_comment == 1 %}
      {% include "include/single-comment.html" %}
    {% else %}  
      <ul class="topic-paging">
          {% if prev %}
          <li class="prev" >
            <a href="{% url article_detail classified_by='topics' class_slug=prev.topic_slug article_slug=prev.slug %}"> &rarr; &nbsp;&nbsp;{{prev.name}}</a>
          </li>
          {% endif %}
          
          {% if next %}
           <li class="next">
            <a href="{% url article_detail classified_by='topics' class_slug=next.topic_slug article_slug=next.slug %}">{{next.name}}&nbsp;&nbsp;  &larr;</a>
           </li>
          {% endif %}
  	  </ul>
      {% include "include/comments.html" %}
    {% endif %}
  </div><!-- span 8 -->

</div><!-- row end -->


<script type="text/javascript">
  /*!
   * Create an array of word objects, each representing a word in the cloud
   */
  var word_array = [
      {% for tfidf in tfidfs %}
        {% if forloop.counter0 == 0 %}
          {text:"{{tfidf.0}}", weight: {{tfidf.1|floatformat:"0"}}}
        {%else%}
          ,{text:"{{tfidf.0}}", weight: {{tfidf.1|floatformat:"0"}}}
        {% endif %}
      {% endfor %}
  ];

  $(document).ready(function() {
    $("a#inline").fancybox({
    'hideOnContentClick': true
    });
    $("#article_cloud").jQCloud(word_array);
  });
</script>

<input type="hidden" id="csrf_token" value="{{csrf_token}}"/>
<script src="{{STATIC_URL}}js/suggestion_vote.js" type="text/javascript"></script>
<script src="{{STATIC_URL}}js/poll_selection.js" type="text/javascript"></script>
<script src="{{STATIC_URL}}js/article_cloud.js" type="text/javascript"></script>
<script src="{{STATIC_URL}}js/jqcloud-1.0.2.js" type="text/javascript"></script>

<script type="text/javascript" src="{{STATIC_URL}}js/jquery.fancybox.pack.js"></script>

<link href="{{ STATIC_URL }}css/jqcloud.css" rel="stylesheet" />
<link rel="stylesheet" href="{{ STATIC_URL }}css/jquery.fancybox.css" type="text/css" media="screen" />
  
{% endblock %}