{% load settings %}
<!DOCTYPE HTML>
<html>
<head>

  <title>قانون مصر :: {% block title %}{% endblock %}&rlm;</title>
  
  <meta property="og:site_name" content="قانون مصر"/>
  
  <meta property="og:image" content="{{ STATIC_URL }}images/facebook.png"/>
  
  <meta name="description" content="{% block description %}{% endblock %}">
  <meta name="keywords" content="القانون, الشعب, مجلس الشعب, قانون مصر, {% block keywords %}{% endblock %}">
  
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <link href="{{ STATIC_URL }}css/bootstrap.css" rel="stylesheet" />
  <link href="{{ STATIC_URL }}css/bootstrap-responsive.css" rel="stylesheet" />
  <link href="{{ STATIC_URL }}css/style.css" rel="stylesheet" />
  <link href="{{ STATIC_URL }}css/responsive-custome.css" rel="stylesheet" />
  <link href="{{ STATIC_URL }}images/favicon.png" rel="icon" type="image/png">

  <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.min.js" ></script>
  <script type="text/javascript" src="http://s7.addthis.com/js/300/addthis_widget.js#pubid=xa-508fada025dd4764"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.cookie.js" ></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap.js" ></script>
  <script src="twitter-bootstrap-v2/docs/assets/js/bootstrap-transition.js"></script>
  <script src="twitter-bootstrap-v2/docs/assets/js/bootstrap-carousel.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/waypoints.js" ></script>

   <script>
      var static_url = "{{ STATIC_URL }}"
      var poll_select_var = "{% url poll_select %}"
      var suggestion_vote_var = "{% url suggestion_vote %}"
        $(function(){
          // carousel demo
          $('#myCarousel').carousel()
        });
    </script>


<!-- 
  <script type="text/javascript" src="{{ STATIC_URL }}js/topic-nav.js" ></script> -->

  <script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jquery.templates/beta1/jquery.tmpl.min.js"></script>


  <script type="text/javascript">
      var newwindow;
      var intId;
      function login(backend){
          backend_url = "{% url login %}"+backend+"/";
          var  screenY     = typeof window.screenY     != 'undefined' ? window.screenY     : window.screenTop,
               screenX     = typeof window.screenX     != 'undefined' ? window.screenX     : window.screenLeft,
               outerWidth  = typeof window.outerWidth  != 'undefined' ? window.outerWidth  : document.body.clientWidth,
               outerHeight = typeof window.outerHeight != 'undefined' ? window.outerHeight : (document.body.clientHeight - 22),
               width    = 500,
               height   = 350,
               left     = parseInt(screenX + ((outerWidth - width) / 2), 10),
               top      = parseInt(screenY + ((outerHeight - height) / 2.5), 10),
               features = (
                  'width=' + width + ',height=' + height + ',left=' + left + ',top=' + top
                );
    
          
          login_window = window.open(backend_url, 'name', features);
           if (window.focus) {login_window.focus()}
          return false;
      }
	  
	  function refreshPage(){
		document.location.reload();
	  }
  </script>
  
	<script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-33968313-2']);
      _gaq.push(['_setDomainName', 'dostour.eg']);
      _gaq.push(['_trackPageview']);
    
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
    
    
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-33266543-1']);
      _gaq.push(['_trackPageview']);
    
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
  
</head>

<body  data-spy="scroll" data-target=".navbar">
    
    <div class="nav-wrapper">

      <div class="container navigation">
        <div class="row">
            <div class="span12">
    
              <div class="navbar-blue top-nav hidden-phone">
                  <ul class="nav nav-pills ">
                      
                      {% block nav-index %}<li class=""><a href="{% url index %}">الرئيسية</a></li>{% endblock %}
                      {% block nav-topics %}<li class=""><a href="{% url topics %}">القوانين</a></li>{% endblock %}
                      
                      {% if user %}
                        {% block nav-profile %}<li class=""><a href="{% url profile 'likes' %}">الملف الشخصي</a></li>{% endblock %}
                        {% block nav-stats %}<li class=""><a href="{% url top_liked %}">الإحصائيات</a></li>{% endblock %}
                      {% endif %}
                      
                      {% block nav-about %}<li class=""><a href="{% url about_us %}">من نحن ؟</a></li>{% endblock %}
                      {% block nav-contact %}<li class=""><a href="{% url contact_us %}">اتصل بنا</a></li>{% endblock %}
    
                    </ul>
                    
    
                  <form class="navbar-search pull-left" action="{% url search %}" method="POST">
                      {% csrf_token %}
                       <input type="text" name="q" id="q" style="font: 11px tahoma;" class="search-query span2" placeholder="أدخل كلمات البحث">
                  </form>
              </div><!-- nav -end -->
            <div class="navbar-blue top-nav  visible-phone">
    
                  <div class="btn-group">
                            <button data-toggle="dropdown" class="btn btn-large btn-inverse dropdown-toggle"><i class="icon-list icon-white"></i> <span class="caret"></span></button>
                            <ul class="dropdown-menu">
                                  <li class="">
                                    <a href="http://dostour.eg">الرئيسية</a>
                                  </li>
                                  <li class="">
                                    <a href="{% url index %}">مبادرة <strong>"شارك"</strong></a>
                                  </li>
                                  {% if user %}
                                    <li class="">
                                      <a href="{% url profile 'likes' %}">الملف الشخصي</a>
                                    </li>
                                  {% endif %}
                                  {% if user.is_staff %}
                                    <li class="">
                                      <a href="{% url top_liked %}">الإحصائيات</a>
                                    </li>
                                  {% endif %}
                                   <li class="">
                                    <a href="http://dostour.eg/home?view=article&id=220">اتصل بنا</a>
                                  </li>
                            </ul>
                    </div>
    
                    <form class="navbar-search pull-left" action="{% url search %}" method="POST">
                            {% csrf_token %}
                             <input type="text" name="q" id="q" style="font: 11px tahoma;" class="search-query span2" placeholder="أدخل كلمات البحث">
                    </form>
               </div>
            </div>
            
    
        </div><!-- row end -->
      </div><!-- content -->   
    </div> <!-- nav-wrapper -->
        
    {% include "include/header.html" %}
    
    <div id="target_container" class="container content">
    	<div class="floatLtr">

                         
        	<div id="floatingSocial">
    	
        <!-- AddThis Button BEGIN -->
        <div class="addthis_toolbox addthis_floating_style addthis_32x32_style" style="left:50px;top:50px;">
        <a class="addthis_button_preferred_1"></a>
        <a class="addthis_button_preferred_2"></a>
        <a class="addthis_button_preferred_3"></a>
        <a class="addthis_button_preferred_4"></a>
        <a class="addthis_button_compact"></a>
        </div>
                
        <!-- AddThis Button END -->
            </div>
     </div>  
    <script type="text/javascript">
			 $(function() {
 
				var sticky_navigation_offset_top = $('#floatingSocial').offset().top;
				 
				var sticky_navigation = function(){
					var scroll_top = $(window).scrollTop();
					if (scroll_top > sticky_navigation_offset_top) {
						$('#floatingSocial').css({ 'position': 'fixed', 'top': '15px' });
					} else {
						$('#floatingSocial').css({ 'position': 'relative', 'top': '20px' });
					}  
				};
				
				sticky_navigation();
				 
				$(window).scroll(function() {
					 sticky_navigation();
				});
			 
			});
		</script>
        
        {% block content %}{% endblock %}
        
    </div><!-- content -->
    
    <div class="container footer">
        {% include "include/footer.html" %}
    </div><!-- footer -->


</body>
</html>

