{% extends 'base.html' %}
{% load settings %}

{% block title %}اتصل بنا{% endblock %}

{% block nav-contact %}<li class="active"><a href="{% url contact_us %}">اتصل بنا</a></li>{% endblock %}

{% block content %}
<div class="row">
    <div class="span12 ">
      <h1 id="headtitle" class="headtitle innerpage searchPage"><span>اتصل بنا</span></h1>
    </div>
  </div><!-- row -end -->

  <div class="row">
    <div class="span12" style="min-height: 300px">
        سبل يبس لبيل يب ليبل يسبليب 
    </div>
  </div>

{% endblock %}