{% extends 'base.html' %}

{% block title %}{{info.name}}{% endblock %}

{% block content %}
    <div class="info-page">
<div id="headtitle" class="headtitle innerpage  visible-desktop">
                <h1>{{info.name}}</h1> 
         </div> 
                 <p>{{info.summary}}</p>
                 <p>
                 مشروع قانون حرية اتاحة المعلومات الكرامة الإنسانية حق لكل إنسان ويكفل المجتمع والدولة واجب احترامها وحمايتها ولا يجوز تعريض أي مواطن للازدراء والمهانة الكرامة الإنسانية حق لكل إنسان ويكفل المجتمع والدولة واجب </p>

   <!--  <div class="topic">
    	      
    </div> --><!-- topic end -->
</div> <!-- info -->
{% endblock %}