{% extends 'base.html' %}
{% load settings %}
{% load hash %}
{% block title %}أكثر الأعضاء المشاركين في دستور مصر{% endblock %}

{% block content %}


<div class="container content map-container">
   <div class="row">
       <div class="top-members">
         <div class="map-layout"></div>
         <h4> <i class="icon-star"></i>أكثر الأعضاء المشاركين في دستور مصر</h4>
	     <div id="loading-image"><img src="{{ STATIC_URL }}images/loader.gif" alt="تحميل ..." /></div>
         <ul id="map-users" style="display: none;">
           {% for top in top_users %}
                 {% if forloop.counter == bound %}
                      <li class="current {{forloop.counter}}"><a class="user-image" title="{{ user.first_name }} {{ user.last_name }}"><img class="loader" src="http://graph.facebook.com/{{ user.username }}/picture"></a></li>      
             {% else %}
             <li class="{{forloop.counter}}"><a class="user-image" title="{{ top.first_name }} {{ top.last_name }}"><img class="loader" src="http://graph.facebook.com/{{ top.username }}/picture"></a></li>
             {% endif %}
                    
           {% endfor %}
        </ul>
       </div>
   </div>
</div>
       
<script type="text/javascript">

$(window).load(function() {
	$('#map-users').show();
	$('#loading-image').hide();
	$('.joiner-info').show();
});

</script> 

{% if user %}

<div class="joiner-info" style="display: none;">
          	<a href="http://fb.com/{{ user.username }}" target="_blank" class="user-image" title="{{ user.first_name }} {{ user.last_name }}">
            <img class="loader" src="http://graph.facebook.com/{{ user.username }}/picture">
            <p>محمد محمود أمين</p>
            <span>124 مشاركة</span>
        </a>
</div>
       
<script type="text/javascript">

$(window).load(function() {

	var position = $("li.current").offset();
    var left = position.left;
	var top = position.top-120;

	$(".joiner-info").css({"left":left,"top":top});

});

</script> 

<style type="text/css">
.current{ background: red; }
</style>

{% endif %}

{% endblock %}