{% extends 'base.html' %}
{% load settings %}
{% load hash %}
{% block title %}أكثر الأعضاء المشاركين في دستور مصر{% endblock %}

{% block content %}


<div class="container content map-container">
   <div class="row">
       <div class="top-members">
         <h4> <i class="icon-star"></i>أكثر الأعضاء المشاركين في دستور مصر</h4>
	     	<div id="loading-image"><img src="{{ STATIC_URL }}images/loader.gif" alt="تحميل ..." /></div>
            
        	<!--img id="map-users" src="{{ STATIC_URL }}members_map.jpg" style=" display:none"-->
            <img id="map-users" src="{% url members_map %}" style=" display:none">
       </div>

   </div>
</div>
       
<script type="text/javascript">

$(window).load(function() {
	$('#map-users').show();
	$('#loading-image').hide();
});
   
</script> 



{% endblock %}