{% extends 'base.html' %}
{% load settings %}
{% load hash %}
{% block title %}{{ user_profile.first_name }} {{ user_profile.last_name }}{% endblock %}

{% block nav-profile %}<li class="active"><a href="{% url profile 'likes' %}">صفحتك الشخصية</a></li>{% endblock %}

{% block content %}

  <div class="row">
    <div class="span12">
      <div class="pull-right">
          <div class="span6 ">
            <div class="profile-details">
            
              {% if user_profile.username = 'admin' or user_profile.provider == 'google' %}
                <img class="user_img_larg" src="{{ STATIC_URL }}images/google_user.gif">
              {% else %}
                  <img class="user_img_larg" src="{{ STATIC_URL }}photos/profile/{{ user_profile.username }}">
              {% endif %}
              
              <div class="attrs">
                <p class="user_name">{{ user_profile.first_name }} {{ user_profile.last_name }}</p><br />
                <span href="#"> <i class="icon-comment"></i> عدد المشاركات : {{ contributions }}</span>
                <!-- <a href="#" onclick="login('facebook'); return false;" class="facebook" title="سجل دخول"><img src="{{ STATIC_URL }}images/facebook.png" alt=""></a>
                <a href="#" onclick="login('twitter'); return false;" class="twitter" title="سجل دخول"><img src="{{ STATIC_URL }}images/twitter.png" alt=""></a> -->
              </div> 
            </div>
          </div>
      </div>
  </div>

    
    <div class="span12 profile-tabs">
      <ul class="nav nav-tabs " id="myTab">
      {% if url == 'user_profile' %}
            <li {% if browsing_data = "likes" %}class="active"{% endif %}><a href="{% url user_profile username=user_profile.username browsing_data="likes" %}"><i class=" icon-thumbs-up"></i>  القوانين التى أعجبتك  </a></li>
            <li {% if browsing_data = "dislikes" %}class="active"{% endif %}><a href="{% url user_profile username=user_profile.username browsing_data="dislikes" %}"><i class=" icon-thumbs-down"></i>  القوانين التى لم تعجبك  </a></li>
            <li {% if browsing_data = "comments" %}class="active"{% endif %}><a href="{% url user_profile username=user_profile.username browsing_data="comments" %}"> <i class=" icon-comment "></i>  مشاركاتك  </a></li>
      {% else %}
            <li {% if browsing_data = "likes" %}class="active"{% endif %}><a href="{% url profile browsing_data="likes" %}"><i class=" icon-thumbs-up"></i>  القوانين التى أعجبتك  </a></li>
            <li {% if browsing_data = "dislikes" %}class="active"{% endif %}><a href="{% url profile browsing_data="dislikes" %}"><i class=" icon-thumbs-down"></i>  القوانين التى لم تعجبك  </a></li>
            <li {% if browsing_data = "comments" %}class="active"{% endif %}><a href="{% url profile browsing_data="comments" %}"> <i class=" icon-comment "></i>  مشاركاتك  </a></li>
      {% endif %}
      </ul>

      <div class="tab-content" id="contributes" style="min-height: 250px">
  {% for article in liked_articles %}
      <div>
        <div class="headtitle"><a href="{% url topic topic_slug=article.slug %}"><h4>{{article.name}}</h4></a></div>
        <div class="comment-block">
          <div><br />{{article.summary|truncatewords:"30"}}</div>
          <span class="date"><a href="#">آخر تحديث {{article.mod_date|date:"d-m-Y"}} </a></span>
        </div>
      </div>
  {% endfor %}

  {% for article in disliked_articles %}
    <div>
        <div class="headtitle"><a href="{% url topic topic_slug=article.slug %}"><h4>{{article.name}}</h4></a></div>
        <div class="comment-block">
          <div><br />{{article.summary|truncatewords:"30"}}</div>
          <span class="date"><a href="#">آخر تحديث {{article.mod_date|date:"d-m-Y"}} </a></span>
        </div>
      </div>
  {% endfor %}

  {% for article in commented_articles %}
          <div counter="{{article.feedbacks.count}}" >
          <div class="headtitle"> <h4>{{article.topic}} :<a href="{% url article_detail classified_by='topics' class_slug=article.topic.slug article_slug=article.slug %}">{{article.name}}</a></h4>  </div>
    		{% for feedback in article.feedbacks %}
            	{% include "include/comment-block-simple.html" %}
    		{% endfor %}
        </div>
  {% endfor %}
      </div>
    </div> <!-- span12  --> 
  </div><!-- roww -->

<input type="hidden" id="csrf_token" value="{{csrf_token}}"/>
<script src="{{STATIC_URL}}js/article_vote.js" type="text/javascript"></script>



<script type="text/javascript">

function showMore(){

	var showChar = 200; 
	var ellipsestext = "..."; 
	var moretext = "المزيد"; 
	var lesstext = "اخفاء"; 
	
	$('.more').each(function() { 
		var content = $(this).html();
		
		if(content.length > showChar) {
			var c = content.substr(0, showChar); 
			var h = content.substr(showChar-1, content.length - showChar);
			var html = c + '<span class="moreellipses">' + ellipsestext+ '&nbsp;</span><span class="morecontent"><span>' + h + '</span></span>&nbsp;&nbsp;<a href="" class="morelink">' + moretext + '</a>';
			$(this).html(html); 
		} 
		 
	});
	$(".morelink").click(function(){ 
		if($(this).hasClass("less")) { 
			$(this).removeClass("less"); 
			$(this).html(moretext); 
		} else { 
			$(this).addClass("less"); 
			$(this).html(lesstext); 
		} 
		$(this).parent().prev().toggle(); 
		$(this).prev().toggle(); 
		return false; 
	}); 
}

showMore();

</script>

<script type="text/javascript">
  $(document).ready(function() {
   
   $(".L_reply").live("click",function(){
    visible = $(".L_replies_block."+$(this).attr('id')).is(":visible")
    if (visible)
    {
      $('.child-reply.'+this.id).show()
    }
    else
    {
      $(this).expand_effect()
      $('.child-reply.'+this.id).show()
    }
    $('html,body').animate({ scrollTop: $('.child-reply.'+this.id).offset().top -100 },800);
    });


   $(".L_remove").live("click",function(){
    {% if user %}
      if (confirm('هل أنت متأكد من أنك تريد حذف تعليقك ؟'))
      {
        $.ajax({
                type:"POST",
                  url :"{% url remove_feedback %}",
                data:{'feedback':$(this).attr('id'),
                      'csrfmiddlewaretoken': $("{% csrf_token %}").find("input").attr("value")},
                dataType:"json",
                error:function(data){},
                success:function(data){
              if (parseInt($(".L_"+data.feedback_id).parent().attr("counter")) == 1)
              {
                $(".L_"+data.feedback_id).parent().remove();
              }
              else
              {
                counter =  parseInt($(".L_"+data.feedback_id).parent().attr("counter"))-1
                $(".L_"+data.feedback_id).parent().attr("counter",counter);
              }
                $(".L_"+data.feedback_id).remove();  
                },
              });
      }
    {% endif %}
    });

  });
</script>


{% endblock %}