{% extends 'base.html' %}
{% load settings %}

{% block title %}نتيجة البحث{% endblock %}

{% block content %}

<div class="row">
    <div class="span12 ">
        <h1 id="headtitle" class="headtitle innerpage searchPage"><span>نتائج البحث عن <b style="color: #9b0f0f;">"{{query}}"</b> - {{count}} مادة</span></h1>
    </div>
</div><!-- row -end -->

<div class="row">

    <div class="span12">
    
{%if articles%}
  {% for article in articles %}
  	{% include "include/article_block.html" %}
  {% endfor %}
    <ul class=" pager">
      <li class="next">
      {% if articles.has_next %}
      <a href="?page={{ articles.next_page_number }}&q={{query}}">التالى &larr; </a>
      {% endif %}
      </li>
      <li>
        <span class="current">
              صفحه {{ articles.number }} من {{ articles.paginator.num_pages }}.
        </span>
      </li>
      <li class="previous">
      {% if articles.has_previous %}
      <a href="?page={{ articles.previous_page_number }}&q={{query}}"> &rarr; السابق</a>
      {% endif %}
      </li>
    </ul>
{%else%}
  <div class="topic">
      <h3>
          <p class="mada-title">
              لا توجد نتائج لهذا البحث
          </p>
      </h3>  

  </div><!-- topic end -->
{% endif %}

</div></div>

{% endblock %}