{% extends 'base.html' %}
{% load settings %}

{% block title %}نتيجة البحث{% endblock %}

{% block content %}
<div class="row">
    <div class="span12 ">
        <h1 id="headtitle" class="headtitle innerpage searchPage"><span>نتائج البحث عن <b style="color: #9b0f0f;">"{{query}}"</b> - {{count}} مادة</span></h1>
    </div>
</div><!-- row -end -->

<div class="row">
    <div class="span12">
    {%if articles%}
      {% for article in articles %}
        {% include "include/article_block.html" %}
      {% endfor %}
      <div id="last_articles_loader"></div>
    {%else%}
        <div class="topic no-mada">
          <h3>
              <p class="mada-title">
                  لا توجد نتائج لهذا البحث
              </p>
          </h3>  
      </div>
    {% endif %}
    </div>
  </div>

  <script type="text/javascript">
   $(document).ready(function() {
      var page = 1;
      var fetching = false;

      function next_articles() 
      { 
          fetching = true;
          $('div#last_articles_loader').html('<img src="{{STATIC_URL}}images/loading.gif">');
          $.ajax({
            type:"GET",
            url :"/sharek/ajx_search/",
            data:{
                'q': "{{query}}",
                'page': ++page,
                'csrfmiddlewaretoken': $("{% csrf_token %}").find("input").attr("value"),},
            dataType:"html",
            error:function(data){},
            success:function(data){
              if (data != "") {
                  $(".article-block:last").after(data);
                  setTimeout(function(){ fetching = false; },300);
                  $('div#last_articles_loader').empty();
              } else{
                  $('div#last_articles_loader').html('');
              }
            },
          });
      }

      $(window).scroll(function(){
          var bufferzone = $(window).scrollTop() * 0.20;
          if (!fetching && ($(window).scrollTop() + bufferzone > ($(document).height()- $(window).height() ) )){
              next_articles();
          }
      });
   });
  </script>
{% endblock %}