{% extends 'base.html' %} 

{% load humanize %}
{% load settings %}
{% load auth_provider %}

{% block title %}النسخة النهائية من مشروع الدستور{% endblock %}

{% block content %}


<div class="row progress-promo" style="text-align: center;">

 <div class="span12" style="text-align: center; margin-top: 40px;">
      <h2 style="font-family: GESSTwoMediumRegular; margin-bottom: 10px; text-shadow: 1px 1px 1px #FFFFFF;">مشروع دستور</h2>
      <h1 style="font-family: GESSTwoMediumRegular; margin-bottom: 20px; text-shadow: 1px 1px 1px #FFFFFF; font-size: 35px;">جمهورية مصر العربية</h1>	      
 </div>
</div>
<div class="row" style="text-align: center; margin: 0 0 50px 0;">
  <div class="span12">
  	<a href="http://elections.eg" target="_blank"><img src="{{ STATIC_URL }}images/elections.png" /></a>
  </div>
</div>
<div class="row" style="text-align: center;">
  <div class="span12">
      <a href="http://bitly.com/dostor-masr-final" class="btn btn-green">تحميل النسخة النهائية من مشروع الدستور</a>
      <br/><br/>
      <p style="font-size: 15px;">للتعليق على مواد مشروع الدستور يمكنك الذهاب إلى <a href="{% url index %}">الصفحة الرئيسية</a></p>
      <br/><br/><br/>
  </div>
</div><!-- roww -->

<div class="row">
    <div class="span12">
        <center>
            <script>(function(d, s, id) {
              var js, fjs = d.getElementsByTagName(s)[0];
              if (d.getElementById(id)) return;
              js = d.createElement(s); js.id = id;
              js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=475834679107854";
              fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));</script>
        
            <div id="fb-root"></div>
            <div class="fb-facepile" data-href="https://www.facebook.com/Dostour.eg" data-action="Like" data-max-rows="1" data-width="500"></div>	
            <br><br><a target="_blank" href="http://facebook.com/dostour.eg">صفحة الجمعية التأسيسية على الفيسبوك</a>
        </center>
    </div>
</div><!-- row end -->

{% endblock %}