{% extends 'base.html' %} 

{% load humanize %}
{% load settings %}
{% load auth_provider %}

{% block title %}الصفحة الرئيسية{% endblock %}

{% block content %}


<div class="row progress-promo" style="text-align: center;">

 <div class="span12" style="text-align: center; margin-top: 40px;">
      <h2 style="font-family: GESSTwoMediumRegular; margin-bottom: 10px; text-shadow: 1px 1px 1px #FFFFFF;">مشروع دستور</h2>
      <h1 style="font-family: GESSTwoMediumRegular; margin-bottom: 35px; text-shadow: 1px 1px 1px #FFFFFF; font-size: 35px;">جمهورية مصر العربية</h1>

      <a href="http://bitly.com/dostor-masr-final" class="btn btn-green">تحميل النسخة النهائية من مشروع الدستور</a>
      <br/><br/>
      <p style="font-size: 15px;">للتعليق على مواد مشروع الدستور يمكنك الذهاب إلى <a href="/sharek/index">الصفحة الرئيسية</a></p>
      <!--iframe src="https://docs.google.com/a/espace.com.eg/file/d/0Bzwf7GOWB9faOWYxNWVvNFU5a1U/preview" width="900" height="1150"></iframe-->
      <br/><br/>
      <iframe scrolling="no" width="600" height="780" frameborder="0" border="0" src="https://media.embed.ly/1/frame?url=http%3A%2F%2Fegelections-2011.appspot.com%2FReferendum2012%2Fdostor_masr_final.pdf&amp;width=600&amp;secure=true&amp;key=99d6b0ec5c614941b362a7bba053e135&amp;height=780"></iframe>
      <br/><br/><br/>
  </div>
</div><!-- roww -->

<div class="row">
    <div class="span12">
        <center>
            <script>(function(d, s, id) {
              var js, fjs = d.getElementsByTagName(s)[0];
              if (d.getElementById(id)) return;
              js = d.createElement(s); js.id = id;
              js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=475834679107854";
              fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));</script>
        
            <div id="fb-root"></div>
            <div class="fb-facepile" data-href="https://www.facebook.com/Dostour.eg" data-action="Like" data-max-rows="1" data-width="500"></div>	
            <br><br><a target="_blank" href="http://facebook.com/dostour.eg">صفحة الجمعية التأسيسية على الفيسبوك</a>
        </center>
    </div>
</div><!-- row end -->

{% endblock %}