{% extends 'base.html' %}
{% load settings %}
{% load hash %}
{% block title %}الإحصائيات{% endblock %}

{% block content %}

<div class="row">
    <div class="span12 ">
        <h1 id="headtitle" class="headtitle innerpage offset3  visible-desktop"><span>الإحصائيات</span></h1>
        <h1 id="headtitle" class="headtitle innerpage   hidden-desktop"><span>الإحصائيات</span></h1>
    </div>
</div><!-- row -end -->

{% if articles %}
    <div class="row">
      <div class="span3">
        <div class="sidebar">
          <ul class="nav nav-pills nav-stacked">
            <li class="{%if type = 'likes' %}active{%endif%}" >
              <a  href="{% url top_liked %}"><span class="sidebar-icon chapter"></span>الأكثر قبولا</a>
            </li>
            <li class="{%if type = 'dislikes' %}active{%endif%}" >
              <a  href="{% url top_disliked %}"><span class="sidebar-icon chapter"></span>الأكثر رفضا</a>
            </li>
            <li class="{%if type = 'comments' %}active{%endif%}" >
              <a  href="{% url top_commented %}"><span class="sidebar-icon chapter"></span>الأكثر مناقشة</a>
            </li>
          </ul>
      </div>
      </div><!-- span3 -->
      <div id="ajax-container" class="span9">
        {% for article in articles %}
        	<div class="topic article-block">
        	  <h3><p class="mada-title"><a href="{% url topic article.slug %}">{{ article.name }}</a></p></h3>
        	  <div class="suggestion-block ">{{ article.text }}</div>
        	</div>
        {% endfor %}
        <div id="last_articles_loader"></div>
      </div>
    </div><!-- row end -->
{% else %}
<div class="topic">
    <h3>
        <p class="mada-title">لا يوجد قوانين</p>
    </h3>  
</div>
{% endif %}

{% if user %}

<link href="{{STATIC_URL}}css/facebox.css" media="screen" rel="stylesheet" type="text/css"/>
<script src="{{STATIC_URL}}js/facebox.js" type="text/javascript"></script>
<!-- <script type="text/javascript">
 $(document).ready(function() {
    $('a[rel*=facebox]').facebox()
    $(".rate").live("click",function(){

      $.ajax({
              type:"POST",
              url :"/sharek/article_vote/",
              data:{'article':$(this).attr('id'),'type': $(this).attr('vote') ,'csrfmiddlewaretoken': $("{% csrf_token %}").find("input").attr("value")},
              dataType:"json",
              error:function(data){},
              success:function(data){
              $(".like.article"+"."+data.article).text(data.p);  
              $(".dislike.article"+"."+data.article).text(data.n);
              if (data.vote == 1)
                {
                  $(".like.rate"+"."+data.article).addClass("active")
                  $(".dislike.rate"+"."+data.article).removeClass("active")
          
                  $(".like.rate"+"."+data.article).removeClass("disabled")
                  $(".dislike.rate"+"."+data.article).addClass("disabled")
                }
                else
                {
                  $(".dislike.rate"+"."+data.article).addClass("active")
                  $(".like.rate"+"."+data.article).removeClass("active")
          
                  $(".dislike.rate"+"."+data.article).removeClass("disabled")
                  $(".like.rate"+"."+data.article).addClass("disabled")
                }
              },
            });
    });

</script> -->

{% endif %}

<script type="text/javascript">
 $(document).ready(function() {
    var page = 1;
    var fetching = false;
    
    function next_articles() 
    { 
        fetching = true;
        $('div#last_articles_loader').html('<img src="{{STATIC_URL}}images/loading.gif">');
        $.ajax({
          type:"POST",
          url :"{% url statistics %}",
          data:{
              'type': "{{type}}",
              'page': ++page,
              'csrfmiddlewaretoken': $("{% csrf_token %}").find("input").attr("value"),},
          dataType:"html",
          error:function(data){},
          success:function(data){
            if (data != "") {
                $(".article-block:last").after(data);
                setTimeout(function(){ fetching = false; },300);
                $('div#last_articles_loader').empty();
            } else{
                $('div#last_articles_loader').html('');
            }
          },
        });
    }
    
    $(window).scroll(function(){
        var bufferzone = $(window).scrollTop() * 0.20;
        if (!fetching && ($(window).scrollTop() + bufferzone > ($(document).height()- $(window).height() ) )){
            next_articles();
        }
    });
 });

</script>

{% endblock %}