{% extends 'base.html' %}
{% load settings %}
{% load hash %}
{% block title %}أعلى المشاركين على دستور مصر{% endblock %}

{% block content %}

     <div class="container content map-container">
        <div class="row">
           <div class="top-members ">
             <div class="map-layout"></div>
                 <h4> <i class="icon-star"></i>أعلى المشاركين على دستور مصر</h4>
                 <ul>
                    {% for top in top_users %}
                         {% if forloop.counter == bound %}
                              <li class="current {{forloop.counter}}"><a class="user-image" title="{{ user.first_name }} {{ user.last_name }}"><img class="loader" src="http://graph.facebook.com/{{ user.username }}/picture"></a></li>      
                      {% else %}
                   	  <li class="{{forloop.counter}}"><a class="user-image" title="{{ top.first_name }} {{ top.last_name }}"><img class="loader" src="http://graph.facebook.com/{{ top.username }}/picture"></a></li>
                      {% endif %}
                        
               {% endfor %}
            </ul>
       </div>
   
   
   </div>
</div>

{% if user %}

<div class="joiner-info">
          	<a href="http://fb.com/{{ user.username }}" target="_blank" class="user-image" title="{{ user.first_name }} {{ user.last_name }}">
            <img class="loader" src="http://graph.facebook.com/{{ user.username }}/picture">
        </a>
</div>
       
<script type="text/javascript">
$(document).ready(function() {

	var position = $("li.current").offset();
               	var left = position.left;
	var top = position.top-120;

	$(".joiner-info").css({"left":left,"top":top});

});
</script> 

<style type="text/css">
.current{ background: red; }
</style>

{% endif %}


{% endblock %}