{% extends 'base.html' %}
{% load settings %}
{% load hash %}
{% block title %}أعلى المشاركين على دستور مصر{% endblock %}

{% block content %}
    
<div class="container content map-container">
   <div class="row">
      <div class="top-members ">
        <div class="map-layout"></div>
        <div class="joiner-info"></div>
            <h4> <i class="icon-star"></i>أعلى المشاركين على دستور مصر</h4>
            <ul>
               {% for top in top_users %}
                   <li><a href="http://fb.com/{{ top.username }}" target="_blank" class="user-image" title="{{ top.first_name }} {{ top.last_name }}"><img class="loader" src="http://graph.facebook.com/{{ top.username }}/picture"></a></li>
               {% endfor %}
            </ul>
       </div>
       
	   <script type="text/javascript">
	    $(document).ready(function() {
	  
			var position = $("li.current").position();
			var left = position.left-30;
			var top = position.top-120;
	
			$(".joiner-info").css({"left":left,"top":top});
	
		});
	   </script> 
	
	   <style type="text/css">
		.current{ background: red; }
	   </style>
   
   
   </div>
</div>
{% endblock %}