{% extends 'base.html' %}
{% load settings %}
{% load hash %}
{% load call %}
{% block title %}{{topic.name}}{% endblock %}

{% block content %}

        <div class="row">
          <div class="span12">
            <div class="headtitle innerpage" id="headtitle">
                <h1>احصائيات مشاركاتك</h1> 
                
    

               
                
            </div>
                <script type="text/javascript">
                  $(document).ready(function(){

                    $('#myTab a:first').tab('show'); // Select first tab

                  });
                </script>
          </div>  
       <div class="span12 profile-tabs">
                 <ul class="nav nav-tabs " id="myTab">
                        <li class=""><a data-toggle="tab" href="#likes"><i class=" icon-thumbs-up"></i> المواد التى أعجبتك </a></li>
                        <li class=""><a data-toggle="tab" href="#dislikes"><i class=" icon-thumbs-down"></i>  المواد التى لم تعجبك</a></li>
                        <li class=""><a data-toggle="tab" href="#contributes"> <i class=" icon-comment "></i> مشاركاتك</a></li>
                  </ul>

              <div class="tab-content" id="myTabContent">

                  <div id="contributes" class="tab-pane fade">
                    <div class="headtitle"> <h4>المقومات الأساسية للدولة :<span>المادة الأولى</span></h4>  </div>

                  </div><!-- mosharkat -->
              </div>
       </div> <!-- span12  --> 
          <div class="span12 history-records ">
              
          </div>
        </div><!-- roww -->

        {% endblock %}