{% extends 'base.html' %}
{% load settings %}
{% load hash %}
{% load call %}
{% block title %}{{topic.name}}{% endblock %}

{% block content %}

        <div class="row">
          <div class="span12">
            <div class="headtitle innerpage" id="headtitle">
                <h1>احصائيات مشاركاتك</h1> 
                
    

               
                
            </div>
                <script type="text/javascript">
                  $(document).ready(function(){

                    $('#myTab a:first').tab('show'); // Select first tab

                  });
                </script>
       </div>  
       <div class="span12 profile-tabs">
                 <ul class="nav nav-tabs " id="myTab">
                        <li class=""><a data-toggle="tab" href="#likes"><i class=" icon-thumbs-up"></i> المواد التى أعجبتك </a></li>
                        <li class=""><a data-toggle="tab" href="#dislikes"><i class=" icon-thumbs-down"></i>  المواد التى لم تعجبك</a></li>
                        <li class=""><a data-toggle="tab" href="#contributes"> <i class=" icon-comment "></i> مشاركاتك</a></li>

                      </ul>

              <div class="tab-content" id="myTabContent">
                  <div id="likes" class="tab-pane fade">
                          <div class="topic article-block">
                                <h3>
                                    <p class="mada-title">
                                        <a href="/sharek/topics/rights-duties/2/">مادة (2)</a>
                                        <a class="comments-number pull-left" href="/sharek/topics/rights-duties/2/">
                                          <i class="icon-comment icon-white" style="margin-top:4px; margin-left:5px;"></i>
                                            لا توجد تعليقات
                                        </a>
                                    </p>
                                </h3>
                                
                                <div class="like-group">
                                  <a vote="0" id="12 " class="dislike vote rate 12 " rel="facebox" href="#not-logged"><small class="dislike article 12">57</small></a>
                                  <a vote="1" id="12" class="like vote rate 12 " rel="facebox" href="#not-logged"><small class="like article 12">2449</small></a>
                                </div>
                                
                                <p></p><p>المواطنون لدى القانون سواء ، وهم متساوون في الحقوق والواجبات العامة ، ولا تمييز بينهم في ذلك بسبب الجنس أو الأصل أو العرق أو اللغة أو الدين أو العقيدة أو الرأي أو الوضع الاجتماعي أو الإعاقة.</p><p></p>
                                <p class="edit-date-article date">آخر تحديث 11  أغسطس  2012,  الساعه 22:0 </p><br>
                         </div><!-- topic -->
                         <div class="topic article-block">
                                <h3>
                                    <p class="mada-title">
                                        <a href="/sharek/topics/rights-duties/2/">مادة (2)</a>
                                        <a class="comments-number pull-left" href="/sharek/topics/rights-duties/2/">
                                          <i class="icon-comment icon-white" style="margin-top:4px; margin-left:5px;"></i>
                                            لا توجد تعليقات
                                        </a>
                                    </p>
                                </h3>
                                
                                <div class="like-group">
                                  <a vote="0" id="12 " class="dislike vote rate 12 " rel="facebox" href="#not-logged"><small class="dislike article 12">57</small></a>
                                  <a vote="1" id="12" class="like vote rate 12 " rel="facebox" href="#not-logged"><small class="like article 12">2449</small></a>
                                </div>
                                
                                <p></p><p>المواطنون لدى القانون سواء ، وهم متساوون في الحقوق والواجبات العامة ، ولا تمييز بينهم في ذلك بسبب الجنس أو الأصل أو العرق أو اللغة أو الدين أو العقيدة أو الرأي أو الوضع الاجتماعي أو الإعاقة.</p><p></p>
                                <p class="edit-date-article date">آخر تحديث 11  أغسطس  2012,  الساعه 22:0 </p><br>
                         </div><!-- topic -->
                         <div class="topic article-block">
                                <h3>
                                    <p class="mada-title">
                                        <a href="/sharek/topics/rights-duties/2/">مادة (2)</a>
                                        <a class="comments-number pull-left" href="/sharek/topics/rights-duties/2/">
                                          <i class="icon-comment icon-white" style="margin-top:4px; margin-left:5px;"></i>
                                            لا توجد تعليقات
                                        </a>
                                    </p>
                                </h3>
                                
                                <div class="like-group">
                                  <a vote="0" id="12 " class="dislike vote rate 12 " rel="facebox" href="#not-logged"><small class="dislike article 12">57</small></a>
                                  <a vote="1" id="12" class="like vote rate 12 " rel="facebox" href="#not-logged"><small class="like article 12">2449</small></a>
                                </div>
                                
                                <p></p><p>المواطنون لدى القانون سواء ، وهم متساوون في الحقوق والواجبات العامة ، ولا تمييز بينهم في ذلك بسبب الجنس أو الأصل أو العرق أو اللغة أو الدين أو العقيدة أو الرأي أو الوضع الاجتماعي أو الإعاقة.</p><p></p>
                                <p class="edit-date-article date">آخر تحديث 11  أغسطس  2012,  الساعه 22:0 </p><br>
                         </div><!-- topic -->
                  </div>
                  <div id="dislikes" class="tab-pane fade">
                      <div class="topic article-block">
                                <h3>
                                    <p class="mada-title">
                                        <a href="/sharek/topics/rights-duties/2/">مادة (2)</a>
                                        <a class="comments-number pull-left" href="/sharek/topics/rights-duties/2/">
                                          <i class="icon-comment icon-white" style="margin-top:4px; margin-left:5px;"></i>
                                            لا توجد تعليقات
                                        </a>
                                    </p>
                                </h3>
                                
                                <div class="like-group">
                                  <a vote="0" id="12 " class="dislike vote rate 12 " rel="facebox" href="#not-logged"><small class="dislike article 12">57</small></a>
                                  <a vote="1" id="12" class="like vote rate 12 " rel="facebox" href="#not-logged"><small class="like article 12">2449</small></a>
                                </div>
                                
                                <p></p><p>المواطنون لدى القانون سواء ، وهم متساوون في الحقوق والواجبات العامة ، ولا تمييز بينهم في ذلك بسبب الجنس أو الأصل أو العرق أو اللغة أو الدين أو العقيدة أو الرأي أو الوضع الاجتماعي أو الإعاقة.</p><p></p>
                                <p class="edit-date-article date">آخر تحديث 11  أغسطس  2012,  الساعه 22:0 </p><br>
                         </div><!-- topic -->
                         <div class="topic article-block">
                                <h3>
                                    <p class="mada-title">
                                        <a href="/sharek/topics/rights-duties/2/">مادة (2)</a>
                                        <a class="comments-number pull-left" href="/sharek/topics/rights-duties/2/">
                                          <i class="icon-comment icon-white" style="margin-top:4px; margin-left:5px;"></i>
                                            لا توجد تعليقات
                                        </a>
                                    </p>
                                </h3>
                                
                                <div class="like-group">
                                  <a vote="0" id="12 " class="dislike vote rate 12 " rel="facebox" href="#not-logged"><small class="dislike article 12">57</small></a>
                                  <a vote="1" id="12" class="like vote rate 12 " rel="facebox" href="#not-logged"><small class="like article 12">2449</small></a>
                                </div>
                                
                                <p></p><p>المواطنون لدى القانون سواء ، وهم متساوون في الحقوق والواجبات العامة ، ولا تمييز بينهم في ذلك بسبب الجنس أو الأصل أو العرق أو اللغة أو الدين أو العقيدة أو الرأي أو الوضع الاجتماعي أو الإعاقة.</p><p></p>
                                <p class="edit-date-article date">آخر تحديث 11  أغسطس  2012,  الساعه 22:0 </p><br>
                         </div><!-- topic -->
                         <div class="topic article-block">
                                <h3>
                                    <p class="mada-title">
                                        <a href="/sharek/topics/rights-duties/2/">مادة (2)</a>
                                        <a class="comments-number pull-left" href="/sharek/topics/rights-duties/2/">
                                          <i class="icon-comment icon-white" style="margin-top:4px; margin-left:5px;"></i>
                                            لا توجد تعليقات
                                        </a>
                                    </p>
                                </h3>
                                
                                <div class="like-group">
                                  <a vote="0" id="12 " class="dislike vote rate 12 " rel="facebox" href="#not-logged"><small class="dislike article 12">57</small></a>
                                  <a vote="1" id="12" class="like vote rate 12 " rel="facebox" href="#not-logged"><small class="like article 12">2449</small></a>
                                </div>
                                
                                <p></p><p>المواطنون لدى القانون سواء ، وهم متساوون في الحقوق والواجبات العامة ، ولا تمييز بينهم في ذلك بسبب الجنس أو الأصل أو العرق أو اللغة أو الدين أو العقيدة أو الرأي أو الوضع الاجتماعي أو الإعاقة.</p><p></p>
                                <p class="edit-date-article date">آخر تحديث 11  أغسطس  2012,  الساعه 22:0 </p><br>
                         </div><!-- topic -->
                         <div class="topic article-block">
                                <h3>
                                    <p class="mada-title">
                                        <a href="/sharek/topics/rights-duties/2/">مادة (2)</a>
                                        <a class="comments-number pull-left" href="/sharek/topics/rights-duties/2/">
                                          <i class="icon-comment icon-white" style="margin-top:4px; margin-left:5px;"></i>
                                            لا توجد تعليقات
                                        </a>
                                    </p>
                                </h3>
                                
                                <div class="like-group">
                                  <a vote="0" id="12 " class="dislike vote rate 12 " rel="facebox" href="#not-logged"><small class="dislike article 12">57</small></a>
                                  <a vote="1" id="12" class="like vote rate 12 " rel="facebox" href="#not-logged"><small class="like article 12">2449</small></a>
                                </div>
                                
                                <p></p><p>المواطنون لدى القانون سواء ، وهم متساوون في الحقوق والواجبات العامة ، ولا تمييز بينهم في ذلك بسبب الجنس أو الأصل أو العرق أو اللغة أو الدين أو العقيدة أو الرأي أو الوضع الاجتماعي أو الإعاقة.</p><p></p>
                                <p class="edit-date-article date">آخر تحديث 11  أغسطس  2012,  الساعه 22:0 </p><br>
                         </div><!-- topic -->
                         <div class="topic article-block">
                                <h3>
                                    <p class="mada-title">
                                        <a href="/sharek/topics/rights-duties/2/">مادة (2)</a>
                                        <a class="comments-number pull-left" href="/sharek/topics/rights-duties/2/">
                                          <i class="icon-comment icon-white" style="margin-top:4px; margin-left:5px;"></i>
                                            لا توجد تعليقات
                                        </a>
                                    </p>
                                </h3>
                                
                                <div class="like-group">
                                  <a vote="0" id="12 " class="dislike vote rate 12 " rel="facebox" href="#not-logged"><small class="dislike article 12">57</small></a>
                                  <a vote="1" id="12" class="like vote rate 12 " rel="facebox" href="#not-logged"><small class="like article 12">2449</small></a>
                                </div>
                                
                                <p></p><p>المواطنون لدى القانون سواء ، وهم متساوون في الحقوق والواجبات العامة ، ولا تمييز بينهم في ذلك بسبب الجنس أو الأصل أو العرق أو اللغة أو الدين أو العقيدة أو الرأي أو الوضع الاجتماعي أو الإعاقة.</p><p></p>
                                <p class="edit-date-article date">آخر تحديث 11  أغسطس  2012,  الساعه 22:0 </p><br>
                         </div><!-- topic -->
                         <div class="topic article-block">
                                <h3>
                                    <p class="mada-title">
                                        <a href="/sharek/topics/rights-duties/2/">مادة (2)</a>
                                        <a class="comments-number pull-left" href="/sharek/topics/rights-duties/2/">
                                          <i class="icon-comment icon-white" style="margin-top:4px; margin-left:5px;"></i>
                                            لا توجد تعليقات
                                        </a>
                                    </p>
                                </h3>
                                
                                <div class="like-group">
                                  <a vote="0" id="12 " class="dislike vote rate 12 " rel="facebox" href="#not-logged"><small class="dislike article 12">57</small></a>
                                  <a vote="1" id="12" class="like vote rate 12 " rel="facebox" href="#not-logged"><small class="like article 12">2449</small></a>
                                </div>
                                
                                <p></p><p>المواطنون لدى القانون سواء ، وهم متساوون في الحقوق والواجبات العامة ، ولا تمييز بينهم في ذلك بسبب الجنس أو الأصل أو العرق أو اللغة أو الدين أو العقيدة أو الرأي أو الوضع الاجتماعي أو الإعاقة.</p><p></p>
                                <p class="edit-date-article date">آخر تحديث 11  أغسطس  2012,  الساعه 22:0 </p><br>
                         </div><!-- topic -->
                         <div class="topic article-block">
                                <h3>
                                    <p class="mada-title">
                                        <a href="/sharek/topics/rights-duties/2/">مادة (2)</a>
                                        <a class="comments-number pull-left" href="/sharek/topics/rights-duties/2/">
                                          <i class="icon-comment icon-white" style="margin-top:4px; margin-left:5px;"></i>
                                            لا توجد تعليقات
                                        </a>
                                    </p>
                                </h3>
                                
                                <div class="like-group">
                                  <a vote="0" id="12 " class="dislike vote rate 12 " rel="facebox" href="#not-logged"><small class="dislike article 12">57</small></a>
                                  <a vote="1" id="12" class="like vote rate 12 " rel="facebox" href="#not-logged"><small class="like article 12">2449</small></a>
                                </div>
                                
                                <p></p><p>المواطنون لدى القانون سواء ، وهم متساوون في الحقوق والواجبات العامة ، ولا تمييز بينهم في ذلك بسبب الجنس أو الأصل أو العرق أو اللغة أو الدين أو العقيدة أو الرأي أو الوضع الاجتماعي أو الإعاقة.</p><p></p>
                                <p class="edit-date-article date">آخر تحديث 11  أغسطس  2012,  الساعه 22:0 </p><br>
                         </div><!-- topic -->
                         <div class="topic article-block">
                                <h3>
                                    <p class="mada-title">
                                        <a href="/sharek/topics/rights-duties/2/">مادة (2)</a>
                                        <a class="comments-number pull-left" href="/sharek/topics/rights-duties/2/">
                                          <i class="icon-comment icon-white" style="margin-top:4px; margin-left:5px;"></i>
                                            لا توجد تعليقات
                                        </a>
                                    </p>
                                </h3>
                                
                                <div class="like-group">
                                  <a vote="0" id="12 " class="dislike vote rate 12 " rel="facebox" href="#not-logged"><small class="dislike article 12">57</small></a>
                                  <a vote="1" id="12" class="like vote rate 12 " rel="facebox" href="#not-logged"><small class="like article 12">2449</small></a>
                                </div>
                                
                                <p></p><p>المواطنون لدى القانون سواء ، وهم متساوون في الحقوق والواجبات العامة ، ولا تمييز بينهم في ذلك بسبب الجنس أو الأصل أو العرق أو اللغة أو الدين أو العقيدة أو الرأي أو الوضع الاجتماعي أو الإعاقة.</p><p></p>
                                <p class="edit-date-article date">آخر تحديث 11  أغسطس  2012,  الساعه 22:0 </p><br>
                         </div><!-- topic -->
                         <div class="topic article-block">
                                <h3>
                                    <p class="mada-title">
                                        <a href="/sharek/topics/rights-duties/2/">مادة (2)</a>
                                        <a class="comments-number pull-left" href="/sharek/topics/rights-duties/2/">
                                          <i class="icon-comment icon-white" style="margin-top:4px; margin-left:5px;"></i>
                                            لا توجد تعليقات
                                        </a>
                                    </p>
                                </h3>
                                
                                <div class="like-group">
                                  <a vote="0" id="12 " class="dislike vote rate 12 " rel="facebox" href="#not-logged"><small class="dislike article 12">57</small></a>
                                  <a vote="1" id="12" class="like vote rate 12 " rel="facebox" href="#not-logged"><small class="like article 12">2449</small></a>
                                </div>
                                
                                <p></p><p>المواطنون لدى القانون سواء ، وهم متساوون في الحقوق والواجبات العامة ، ولا تمييز بينهم في ذلك بسبب الجنس أو الأصل أو العرق أو اللغة أو الدين أو العقيدة أو الرأي أو الوضع الاجتماعي أو الإعاقة.</p><p></p>
                                <p class="edit-date-article date">آخر تحديث 11  أغسطس  2012,  الساعه 22:0 </p><br>
                         </div><!-- topic -->
                  </div>
                  <div id="contributes" class="tab-pane fade">
                          <div class="headtitle"> <h4>المقومات الأساسية للدولة :<span>المادة الأولى</span></h4>  </div>
                          <div class="comment-block ">
                                  <div class="facebook_user_img">
                                    <!-- display an image if the logged was not admin -->
                                    
                                      
                                        <a title="Salah Awad" class="user-image" target="_blank" href="http://www.facebook.com/740392655">
                                          <img src="/sharek/static/photos/profile/740392655" class="loader">
                                        </a>
                                      
                                    
                                  </div>
                                  
                                  
                                    
                                      <h3><p class="name"><a target="_blank" href="http://www.facebook.com/740392655">Salah Awad</a></p></h3>
                                    
                                  
                                             
                                  <div class="like-group">
                                     <a vote="0" id="6775" class="dislike vote L_vote 6775 " rel="facebox" href="#not-logged"><small class="dislike 6775">0</small></a>
                                     <a vote="1" id="6775" class="like vote L_vote 6775 " rel="facebox" href="#not-logged"><small class="like 6775">0</small></a>
                                  </div>
                                  <span class="date">12  سبتمبر  2012,  الساعه 14:55</span>
                                  <p>و تكفل الدولة حق التعوض للمواطن في حال تعرضة لاي اهانة</p>
                                  <div class="delete-group">
                                    
                                    <a id="6775" class="L_reply delete " rel="facebox" href="#not-logged"><span class="icon-comment"></span>أضف رد</a>
                                    
                                  </div>
                                    <div style="display:none;" class="L_replies_block child-wrapper 6775">
                                    
                                    <div style="display:none;" class="comment-block comment-entry child-reply 6775">
                                      
                                        <div class="facebook_user_img">
                                          
                                            <a title=" " class="user-image" target="_blank" href="http://www.facebook.com/None">
                                              <img src="/sharek/static/photos/profile/None" class="loader">
                                            </a>
                                          
                                        </div>
                                      
                                      
                                      
                                        
                                          <h3><p class="name"><a target="_blank" href="http://www.facebook.com/None"> </a></p></h3>
                                        
                                      
                                             
                                      <a feedback_id="6775" class="L_hide close  " href="javascript:;"><span>x</span></a>
                                      <p>
                                       <textarea id="suggestion" class="input-xlarge span7 L_reply_txt 6775" rows="3"></textarea>
                                       <br>
                                       <button parent="6775" id="reply" type="submit" class="btn btn-danger offset0 L_reply_bt">أضف ردك الآن !</button>
                                      </p>
                                    </div>
                                  </div>
                                </div><!-- comments -->
                                  
                                </div><!-- comments -->
                              

                  </div><!-- mosharkat -->
                  
            </div>
       </div> <!-- span12  --> 
          <div class="span12 history-records ">
              
          </div>
        </div><!-- roww -->

        {% endblock %}