body {
	direction: rtl;
	text-align: right;
	font: 12px tahoma;
	line-height: 16px;
 }
 
.headtitle {
    -moz-font-feature-settings: normal;
    -moz-font-language-override: normal;
    -x-system-font: none;
    color: #111111;
    font-family: GESSTwoMediumRegular,"Trebuchet MS",Arial,Helvetica,sans-serif;
    font-size: 26px;
    font-size-adjust: none;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    line-height: normal;
    margin-bottom: 0;
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
}
 
.topic-title {
    color: #111111;
    font-family: GESSTwoMediumRegular,"Trebuchet MS",Arial,Helvetica,sans-serif;
    font-size: 26px;
	margin: 35px 0px 45px 0px;
}
 
.article-title {
    color: #111111;
    font-family: GESSTwoMediumRegular,"Trebuchet MS",Arial,Helvetica,sans-serif;
    font-size: 20px;
	margin: 45px 0px 10px 0px;
}

@font-face {
    font-family: 'FrutigerBold';
    src: url('../fonts/FrutigerLTArabic-65Bold.ttf');
    src: url('../fonts/FrutigerLTArabic-65Bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/FrutigerLTArabic-65Bold.ttf') format('truetype'),
         url('../fonts/FrutigerLTArabic-65Bold.svg#FrutigerLTArabic-65Bold.ttf') format('svg');
    font-weight: normal;
    font-style: normal;
    }



 @font-face {
    font-family: 'FrutigerLight';
    src: url('../fonts/frutigerltarabic-45light.eot');
    src: url('../fonts/frutigerltarabic-45light.eot?#iefix') format('embedded-opentype'),
         url('../fonts/frutigerltarabic-45light.ttf') format('truetype'),
         url('../fonts/frutigerltarabic-45light.svg#frutigerltarabic-45light') format('svg');
    font-weight: normal;
    font-style: normal;
    }


@font-face {
    font-family: 'GESSTwoBoldRegular';
    src: url('../fonts/gess-bold.eot');
    src: url('../fonts/gess-bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/gess-bold.ttf') format('truetype'),
         url('../fonts/gess-bold.svg#GESSTwoBoldRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}



@font-face {
    font-family: 'GESSTwoMediumRegular';
    src: url('../fonts/gess-med.eot');
    src: url('../fonts/gess-med.eot?#iefix') format('embedded-opentype'),
         url('../fonts/gess-med.ttf') format('truetype'),
         url('../fonts/gess-med.svg#GESSTwoMediumRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}